<template>
	
	    <b-carousel style="text-shadow: 1px 1px 2px #333;" fade :controls="controls" :indicators="indicators" :background="background" :interval="interval" :img-width="imgWidth" :img-height="imgHeight" v-model="slide" @sliding-start="onSlideStart" @sliding-end="onSlideEnd" >
	    	<b-carousel-slide v-for="(image, key) in images" :caption="image.caption" :key="key">
                <b-img slot="img" fluid-grow :width="imgWidth" :height="imgHeight"
                    :src="image.imagen" :alt="image.imagen" @click="goTo(image.web)" :title="image.title" />
                <p style="color:#fff" class="pt-3">
                {{ image.text != 'null' ? image.text : ''}}
                </p>
            </b-carousel-slide>
	    </b-carousel>
    
</template>

<script>

export default{
	data: ()=>({
		controls:false,
		indicators: true,
		interval: 4000,
        imgWidth:1920,
        imgHeight:400,
        background: "#ababab",
		slide: 0,
      	sliding: null,
      	images: [
              {imagen: "/img/slider/slider1.png", text: "Nulla vitae elit libero 1, a pharetra augue mollis interdum." , caption: "Primer slide", alt:"", web: "#", title:"1"},
              {imagen: "/img/slider/slider2.png", text: "Nulla vitae elit libero 2, a pharetra augue mollis interdum." , caption: "Segundo slide", alt:"", web: "www.google.es", title:"2"},
              {imagen: "/img/slider/slider3.png", text: "Nulla vitae elit libero 3, a pharetra augue mollis interdum." , caption: "Tercer slide", alt:"", web: "#", title:3},
              {imagen: "/img/slider/slider4.png", text: "Nulla vitae elit libero 4, a pharetra augue mollis interdum." , caption: "Cuarto slide", alt:"", web: "#", title:"4"}
              ],
	}),
	mounted(){
        //this.getSlider();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
    	goTo(url){

    		const patron = /(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gi;
    		if(patron.test(url)){
    			window.open(`https://${url}` || `http://${url}`, '_blank');
    		}
    		
    	},
    	
        onSlideStart (slide) {
	      this.sliding = true
	    },
	    onSlideEnd (slide) {
	      this.sliding = false
	    }
    }
}

	
</script>

<style>
	.carousel-item {
	  
	  -webkit-backface-visibility: visible;
	  backface-visibility: visible;
	}

	.carousel-item {
	  max-height: 450px;
	  
	}
	.carousel-inner img{
		max-height: 400px !important;
    }
    
    .carousel-indicators{	/* indicator wrapper*/
        position: absolute;
        bottom: 0;
        left:0px;
        width: 100%;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;	/* this is for indicators  */
    }

    .carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 0px;
        margin-bottom:10px;
    }
    

    .carousel-indicators li.active{
        background-color:#869791;
    }

    .carousel-indicators li:focus{
        background-color:pink;
    }
    .carousel-indicators li:hover{
        background-color:green;
    }
    .carousel-indicators li:visited{
        background-color:yellow;
    }
    .carousel-indicators li:focus-within{
        background-color:red;
    }

	.carousel-caption{
		padding-top: 0px; 
		padding-bottom: 0px;
	}

	/*.carousel-caption{
		position: absolute !important;
		top: 50% !important;
		transform: trasnlateY(-50%) !important;
	}
	.carousel-caption h1{
		font-size: 500% !important;
		text-transform: uppercase !important;;
		text-shadow: 1px 1px 10px #000 !important;
	}
	.carousel-caption h3{
		font-size: 200% !important;
		font-weight: 500 !important;
		text-shadow: 1px 1px 10px #000 !important;
		padding-bottom: 0.3rem !important;
	}
*/


	@media screen and (max-width: 1700px) {
    
  	}
  	@media screen and (max-width: 1600px) {
   
  	}
  	@media screen and (max-width: 1500px) {
	
	}

  	@media screen and (max-width: 1375px) {
    
    }
  	@media screen and (max-width: 1220px) {
    
  	}

   	@media screen and (max-width: 1150px) {
	   
  	}
  	@media screen and (max-width: 995px) {
		  .carousel-caption{
			display:none;
		}
	}
  	@media screen and (max-width: 875px) {
    
   	}
  	@media screen and (max-width: 700px) {
		
    }
  	@media screen and (max-width: 610px) {
    	.carousel-inner img{
			height: 50% !important;
		}
		.carousel-caption h3{
			font-size: 100% !important;
		}
		.display-3, .display-4{
			font-size: 2rem;
		}
    }
    
  	@media screen and (max-width: 535px) {
       
    }
</style>

