<template>
     <b-container fluid class="comissio"><!-- div 2-->
            <b-row>
                <b-col><h1>Comissió</h1></b-col>
            </b-row>
            <b-row class="image justify-content-center">
                <div class="item-1 my-5 mx-auto">
                    <div class= "item">
                        <span>President</span>  
                    </div>
                </div>
                <div class="item-2 my-5 mx-auto">
                    <div class= "item">
                        <span>Fallera Major</span>  
                    </div>
                </div>
                <div class="item-3 my-5 mx-auto">
                    <div class= "item">
                        <span>President infantil</span>  
                    </div>
                </div>
                <div class="item-4 my-5 mx-auto">
                    <div class= "item">
                        <span>Fallera Major infantil</span>  
                    </div>
                </div>
            </b-row>
        </b-container>
</template>

<style lang="scss" scoped>
    @import '~@/abstracts/_variables.scss';
    .comissio{
        font-family: $font_1;
        
        h1{
            text-align: center;
            text-transform: uppercase;
            margin-top: 30px;
        }
        .image{
            display: flex;
            
        }
        .item-1{
            @include shape; 
            background-image: url('/img/comision/president_infantil.jpg');
            span{
                z-index: 3;
                position: relative;
                top: 40%;
                font-size: 30px;
            }
        }
        .item-2{
            @include shape;
            background-image: url('/img/comision/fallera_mayor_infantil.jpg');
            span{
                z-index: 3;
                position: relative;
                top: 40%;
                font-size: 30px;
            }
        }
        .item-3{
            @include shape;
            background-image: url('/img/comision/president_infantil.jpg');
            span{
                z-index: 3;
                position: relative;
                top: 30%;
                font-size: 30px;
            }
        }
        .item-4{
            @include shape;
            background-image: url('/img/comision/fallera_mayor_infantil.jpg');
            span{
                z-index: 3;
                position: relative;
                top: 30%;
                font-size: 30px;
            }
        }
    }
</style>