<template>
    <main>
        <h2>Qui som?</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit accumsan commodo. Sed varius elit ac gravida vulputate. Proin rhoncus semper magna sit amet vulputate. Vivamus rhoncus sed odio a facilisis. Duis sit amet turpis ultricies, congue dolor id, feugiat nulla. Integer quis orci enim. Ut luctus diam ex, a suscipit urna feugiat nec. Fusce tristique est in luctus pulvinar. Integer ante tortor, lacinia nec lectus et, posuere pharetra purus. Quisque tempor leo vehicula, pharetra lectus sed, efficitur ligula. Sed sed feugiat dolor. Sed auctor felis ut velit aliquet, sed finibus odio iaculis. Mauris semper neque at urna sagittis, sit amet pellentesque leo sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sagittis sed ante ut semper. Cras aliquam cursus rutrum.
        Quisque porttitor metus vitae pretium sodales. Sed varius leo erat, in sagittis elit vulputate a. Integer tincidunt ligula arcu, nec sodales sem tincidunt sit amet. In hac habitasse platea dictumst. Donec ornare neque ut elit ultrices tempus. Vestibulum pulvinar aliquet erat in feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu tempus dolor, eu auctor turpis. Aliquam vitae ipsum nec ex convallis viverra in vitae lectus. Nunc sollicitudin enim vel sollicitudin euismod. Donec ut gravida nisl. Aliquam quis sollicitudin justo. In ut enim neque. Fusce auctor ante nunc. Sed non felis ac metus venenatis porttitor id nec nisl. Phasellus viverra molestie pharetra.</p>
        
        
        <b-card no-body class="content text-center">
            <ul class="nav nav-pills">
                <li class="nav-item first">
                    <a class="nav-link active" data-toggle="pill" href="#ultimos">Últims esdeveniments</a>
                </li>
                <li class="nav-item last">
                    <a class="nav-link" data-toggle="pill" href="#proximos">Propers esdeveniments</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content pt-4">
                <div class="tab-pane container active" id="ultimos">

                    <b-card no-body class="my-3" v-for="(evento, key) in ultimos" :key="key">
                        <b-row no-gutters class="d-flex align-items-stretch">
                            <b-col sm="4" lg="4" class="d-none d-sm-block">
                                <b-img :src="`../img/web/${imagenChincheta()}`" class="chincheta_left"/>
                                <b-card-img class="h-100" :src="evento.image" :img-alt="evento.image"/>
                            </b-col>
                            <b-col sm="8" lg="8" class="p-4">
                                 <b-card-text>
                                    <b-img :src="`../img/web/${imagenChincheta()}`" class="chincheta_right"/>
                                    <h5 class="mt-0 mb-1" v-text="evento.title"/>
                                    <span v-text="evento.text"/>
                                </b-card-text>
                            </b-col>
                        </b-row>
                    </b-card>
                </div>

                <div class="tab-pane container" id="proximos">
                    <b-card no-body class="my-3" v-for="(evento, key) in proximos" :key="key">
                        <b-row no-gutters>
                            <b-col sm="12" lg="4" class="d-none d-sm-block">
                                <b-img :src="`../img/web/${imagenChincheta()}`" class="chincheta_left"/>
                                <b-card-img :src="evento.image" :img-alt="evento.image"/>
                            </b-col>
                            <b-col sm="12" lg="8" class="p-4">
                                 <b-card-text>
                                    <b-img :src="`../img/web/${imagenChincheta()}`" class="chincheta_right"/>
                                    <h5 class="mt-0 mb-1" v-text="evento.title"/>
                                    <span v-text="evento.text"/>
                                </b-card-text>
                            </b-col>
                        </b-row>
                    </b-card>
                </div>
            </div>
        </b-card>
    </main>
</template>

<script>
export default {
    data: () => ({
        proximos: [
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 4', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 5', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 6', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
        ],
        ultimos:[
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 1', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 2', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
            {'image': 'http://placehold.it/350x250?text=Esdeveniment 3', title: 'List-based media object', text: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.'},
        ],
        chincheta:[
            'chincheta_roja.png',
            'chincheta_morada.png',
            'chincheta_azul.png',
            'chincheta_amarilla.png',
            'chincheta_verde.png',
            'chincheta_naranja.png'
        ]
    }),


    methods:{
        imagenChincheta(){
            return this.chincheta[Math.floor(Math.random() * (6 - 0)) + 0]
        }
    }
}
</script>

<style lang="scss" scoped>
.card{
    border: none;
    box-shadow: 0px 0px 7px 3px #783a11;
    border-radius: 25px;
    
    span, h5{
        color: rgba(0,0,0,0.7);
        text-shadow: 3px 3px 3px #fff;
    }

    span{
        font: 400 20px/1.2 'Merienda One', Helvetica, sans-serif;
    }
    h5{
        font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
    }
}

.content{
    box-shadow: 6px 5px 9px 1px grey;
    background: url('/img/web/corcho.jpg');
    margin: auto;
    
    .nav-pills{
        li{
            background: #343a40;
            width: 50%;
        }
        
        .first{
            border-radius: 25px 0 0 0 ;
        }
        .last{
            border-radius: 0 25px 0 0;
        }
        .first .active{
            border-radius: 25px 0 0 0!important;
        }
        .last .active{
            border-radius: 0 25px 0 0!important;
        } 
    }

    .card img{
        border-radius: 25px 0 0 25px;
    }

    .chincheta_left, .chincheta_right{
        width: 61px;
        position: absolute;
        top: -48px;
        -webkit-filter: drop-shadow(0px 0px 5px #222 );
        filter: drop-shadow(0px 0px 5px #222);
    }

    .chincheta_right{
        right: -20px;
    }

    .chincheta_left{
        left: 0px;
    }


}

@media (max-width: 1400px) {
    .card{
        span{
            font: 300 15px/1.2 'Merienda One', Helvetica, sans-serif;
        }
        h5{
            font: 300 20px/1.2 'Merienda One', Helvetica, sans-serif;
        }
    }
}

@media (max-width: 1385px) {
    
}
    
    
</style>