<template>
  <footer class="site-footer">
    <b-container>
      <b-row>
        <b-col xs="12" sm="6" md="8">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
              <a href="#">DNA Design</a>.
            </p>
        </b-col>

        <b-col xs="12" sm="6" md="4">
            <ul class="social-icons">
              <li v-for="(item, key) in social" :key="key">
                <a :class="item.icon" :href="item.url">
                  <i :class="`fa fa-${item.icon}`"></i>
                </a>
              </li>
            </ul>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
export default {
  data: () => ({
    social: [
      {icon: 'facebook', url: '#' },
      {icon: 'twitter', url: '#' },
      {icon: 'dribbble', url: '#' },
      {icon: 'linkedin', url: '#' },
    ]
  })
}
</script>

<style lang="scss" scoped>

  .site-footer {
    background-color: #343a40;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;

    a {
        color: #737373;

        &:hover {
          color: #3366cc;
          text-decoration: none;
        }
      }
    
    
    .social-icons{
      text-align:right;
      padding-left:0;
      margin-bottom:0;
      list-style:none;

      a{
        width:44px;
        height:44px;
        line-height:44px;
        margin-left:6px;
        margin-right:8px;
        border-radius:100%;
        background-color:#33353d;
        color:#818a91;
        font-size:16px;
        display:inline-block;
        text-align:center;
        -webkit-transition:all .2s linear;
        -o-transition:all .2s linear;
        transition:all .2s linear;

        &.facebook{
          &:active, &:focus, &:hover{
            background-color:#3b5998;
          }
        }

        &.twitter{
          &:active, &:focus, &:hover{
            background-color:#00aced
          }
        }

        &.linkedin{
          &:active, &:focus, &:hover{
            background-color:#007bb6
         }
        }

        &.dribbble{
          &:active, &:focus, &:hover{
            background-color:#ea4c89
          }
        }

      }

      li{
        display:inline-block;
        margin-bottom:4px;

        &.title{
          margin-right:15px;
          text-transform:uppercase;
          color:#96a2b2;
          font-weight:700;
          font-size:13px
        }
      }

      &.size-sm a{
        line-height:34px;
        height:34px;
        width:34px;
        font-size:14px
      }

    }

    .copyright-text{
      margin:0
    }

  }

  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer{
      padding-bottom: 0;

      .copyright-text, .social-icons{
        text-align: center;
      }

      li.title{
        display:block;
        margin-right:0;
        font-weight:600
      }

    }
    
  }
</style>