<!--template>
        
            <b-nav tag="nav" class="navbar top-navigation justify-content-between fixed-top navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <itemMenu v-for="(item, key) in menu" :item="item" :key="key" ></itemMenu>
                </div>
            </b-nav>

            <!--nav class="navbar fixed-top navbar-expand-lg navbar-light bg-faded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">Logotipo</a>
                    <ul class="w-100 justify-content-end navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Item 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Item 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Item 3</a>
                        </li>
                    </ul>
                </div>
            </nav>
    
       

        
</template-->
<!--template>
  
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
  
</template-->
<template>
  
    <div>
        <b-nav tag="nav" class="navbar top-navigation navbar-dark bg-dark navbar-expand-lg justify-content-between">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:red"></span>
            </button>

            <itemMenu v-for="(item, key) in menu" :item="item" :key="key" class="d-none d-lg-inline-block"></itemMenu>
        </b-nav>

        <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
            <itemMenu v-for="(item, key) in menu" :item="item" :key="key" class="d-block d-lg-none"></itemMenu>
        </div>
    </div>
  
</template>
<script>
import itemMenu from '../global/itemMenu.vue';

export default {
    components: {
      itemMenu,
    },
    data: () => ({
        menu: [
            {route: 'users', name: 'Qui som?', icon: 'user'},
            {route: 'users', name: 'Calendari d’Events', icon: 'user'},
            {route: 'iconos', name: 'Comissió', icon: 'icons'},
            {route: 'iconos', name: 'Galeria Multimedia', icon: 'icons'},
            {route: 'iconos', name: 'Llibrets', icon: 'icons'}, 
            {route: 'iconos', name: 'Anuari', icon: 'icons'},
            {route: 'iconos', name: 'Descàrregues', icon: 'icons'},
            {route: 'iconos', name: 'Accès Privat', icon: 'icons'},
            {route: 'iconos', name: 'El Racó d’articles', icon: 'icons'},
        ],
        links: [
            {route: 'users', name: 'Link',  icon: ''},
            {route: 'users', name: 'Link 2', icon: ''},
        ]
    })
}
</script>
<style lang="scss" scoped>

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        right: 150%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: max-content;
        transition: all 0.3s ease;
        display: block;
        z-index: 99999;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
}
</style>