<template>
    <div>
        <div class="d-flex justify-content-center py-3">
            <b-btn @click="previous()" id="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></b-btn>
            <b-tooltip target="previous" title="Anterior"></b-tooltip>
            <router-link :to="{ name: 'llibrets' }" class="text-decoration-none" id="exit"> 
                <b-btn><i class="fa fa-times" aria-hidden="true"></i></b-btn>
                <b-tooltip target="exit" title="Tancar"></b-tooltip>
            </router-link>
            <b-btn @click="next()" id="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></b-btn>
            <b-tooltip target="next" title="Següent"></b-tooltip>
        </div>

         <div class="d-flex justify-content-center py-3">   
            <b-input-group style="width:300px">
                <b-input-group-prepend>
                    <b-input-group-text >Ir a</b-input-group-text>
                </b-input-group-prepend>

                <b-input type="number" @input="buscar" min="1" :max="pages" step="2">1</b-input>

                <b-input-group-append>
                    <b-input-group-text >
                        Págs.: {{ page }} / {{ pages }}
                    </b-input-group-text >
                </b-input-group-append>

            </b-input-group>
         </div>
            
        
        <div class="clearfix my-3"/>
        <Loader :width="120" :height="120" v-show="load"/>
        <div id="magazine-wrapper" class="magazine">
            
        </div>
        
        <div class="clearfix pt-3"/>
    </div>
</template>

<script>

import loader from '../global/Loader.vue';

export default {
    components:{
        loader,
    },
   
    data: ()  => ({
        pdfDoc: '',
        page: 1,
        pages: 0,
        load: false,
        scale: 1.5,
        folder: 'llibrets'
    }),

    computed:{
        app(){
            return document.getElementById('magazine-wrapper');
        }
    },

    watch:{
        '$route.params.llibret':{
            handler(item) {
                this.cargarCatalogo(`${this.folder}/${item}.pdf`);
            },
            deep: true,
            immediate: true
            
        },
        '$route' (to, from){
            if(to.fullPath != from.fullPath){
                $('.magazine').turn('destroy');
            }
        }
    },
    
    created(){
        const me = this;
        //$('.magazine').turn("destroy").remove();
        

        this.$nextTick(() => {
            
            window.addEventListener('keydown', function (e) {
            if (e.keyCode == 37 )
                $('.magazine').turn('previous');
            else if (e.keyCode == 39)
                $('.magazine').turn('next');
            });

            window.addEventListener('resize', function (e) {
                
                let size = me.resize($('.magazine'));
                $('.magazine').turn('size', size.width, size.height);

            });

        });
    },

    beforeDestroy() {
       
         
    },
    
    methods:{
        resize () { 
            let el = this.app;
            
            // restablece el ancho y la altura a los valores predeterminados de css 
            el.style.width = '';
            el.style.height = '';

            let width = el.clientWidth,
            height = Math.round((width-100) / this.scale),
            padded = Math.round(document.body.clientHeight * 0.9);
            
            // si la altura es demasiado grande para la ventana, restringirla 
            if (height > padded) {
                height = padded;
                width = Math.round(height * this.scale);
            }

            // establece el ancho y la altura que coinciden con la relación de aspecto 
            el.style.width = width + 'px';
            el.style.height = height + 'px';

            
            return {
                width: width,
                height: height
            };
        },
        init(){
            this.pages = 0;
            this.page = 0;
            this.load = true;
            this.scale = 1.5;
            //this.pdfDoc = '';
        },

        cargarCatalogo(file){
            
            if (file == null) return '';
            
            let pdfDoc = null;
            let np = 0;
            const me = this;
            me.init();
            PDFJS.disableWorker = true;
           
            PDFJS.getDocument(file).then( doc => {
                pdfDoc = doc;
                this.pages = np = (doc.numPages);
                                
                //$(".magazine").html('');
                //Creo un canvas por cada hoja del pdf
                for (let i = 1; i <= np; i++) {
                    $(".magazine").html($(".magazine").html() +
                        `<div>
                            <canvas id="hoja${i}" class="sheet mx-auto"></canvas>
                        </div>`);
                }

                //cargo cada hoja del pdf en el canvas 
                for (let i = 1; i <= np; i++) {
                    me.renderPage(i, document.getElementById('hoja' + i), doc, this.scale);
                }

                //me.resize();

                me.flipkey($('.magazine'));
                
                
            });
            
            
        },

        renderPage(num,hoja,pdfDoc,scale){
            let viewport = null;
            let renderContext = [];

            pdfDoc.getPage(num).then( page => {

                viewport = page.getViewport(scale);
                hoja.height = viewport.height;
                hoja.width = viewport.width;

                renderContext = {
                    canvasContext: hoja.getContext('2d'),
                    viewport: viewport
                };

                page.render(renderContext);
            });

            
        },

        flipkey(el) {
            const me = this;
            me.load = false;
           
            $(el).turn({
                display: 'double',
                acceleration: true,
                gradients: true,
                elevation:50,
                autoCenter: true,
                page: 1,
                //acceleration: !isChrome(),

                when: {
                    start: (event, pageObject, corner) => {
                        me.page = pageObject.page;
                        
                    },
                    end: (event, pageObject, turned) => {
                    
                    },

                    first: (event) => {
                        me.load = false;
                    },

                //cuando llegas al final del libro    
                    last: (event) => {
                       
                    },

                //cuando estas pasando de hoja
                    turning: (event, page, view) => {
                        //page -> número de la página entrante
                        //view -> array con el númeor de página de las dos hojas que van a entrar
                    },
                //cuando termina de pasar de hoja
                    turned: (event, page, view) => {
                       me.page = page;
                       //page -> número de la página entrante
                       //view -> array con el número de página de las dos hojas activas
                    },

                    zooming: (event,  newZoomValue, currentZoomValue) => {
                        
                    }

                }
            });
        },

        previous() {
            $('.magazine').turn('previous');
        },

        next() {
            $('.magazine').turn('next');
        },

        buscar(page){
           //$('.magazine').turn("page", page).turn("stop"); // sin efecto de pasar hojas
           $('.magazine').turn("page", page);
        },

        aumentar(){
           $('.magazine').turn("zoom", 0.5);
        }
    }
}

</script>

<style lang="scss" scoped>
@import '~@/abstracts/_variables.scss';
.magazine{
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    margin: auto!important;
    
    transition:margin-left 1s;
	-webkit-transition:margin-left 1s;
	-moz-transition:margin-left 1s;
	-o-transition:margin-left 1s;
	-ms-transition:margin-left 1s;
	transition:margin-left 1s;

    .page{
        background-color:white;
        line-height:300px;
        font-size:20px;
        text-align:center;
        margin-top: 0!important;
        box-shadow: 5px 0 5px rgba(0,0,0,0.3) inset,
    1px 0 5px rgba(0,0,0,0.4) inset,
    10px 0 4px rgba(255,255,255,0.2) inset,
    25px 0 30px rgba(0,0,0,0.4) inset,
    -25px 0 30px rgba(0,0,0,0.1) inset,
    -1px 0 4px rgba(0,0,0,0.3),
    3px 0 5px rgba(0,0,0,0.5),
            45px 0 45px rgba(255,255,255,0.3) inset;
    }

    .page-wrapper{
        -webkit-perspective:2000px;
        -moz-perspective:2000px;
        -ms-perspective:2000px;
        -o-perspective:2000px;
        perspective:2000px;
        margin-top: 0px!important;
    }

    .hard{
        background:#ccc !important;
        color:#333;
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
        font-weight:bold;
    }

    .odd{
        background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
        background-image:-webkit-linear-gradient(to right, #FFF 95%, #C4C4C4 100%);
        background-image:-moz-linear-gradient(to right, #FFF 95%, #C4C4C4 100%);
        background-image:-ms-linear-gradient(to right, #FFF 95%, #C4C4C4 100%);
        background-image:-o-linear-gradient(to right, #FFF 95%, #C4C4C4 100%);
        background-image:linear-gradient(to right, #FFF 95%, #C4C4C4 100%);
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
        
    }

    .even{
        background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
        background-image:-webkit-linear-gradient(to left, #fff 95%, #dadada 100%);
        background-image:-moz-linear-gradient(to left, #fff 95%, #dadada 100%);
        background-image:-ms-linear-gradientto (left, #fff 95%, #dadada 100%);
        background-image:-o-linear-gradient(to left, #fff 95%, #dadada 100%);
        background-image:linear-gradient(to left, #fff 95%, #dadada 100%);
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
    }



}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 1200px) {
    .magazine{
        max-width: 600px;
        height: 400px;
    }
}

@media (max-width: 770px) {
    .magazine{
        max-width: 380px;
        height: 290px;
    }
}


@media (max-width: 500px) {
    .magazine{
        max-width: 230px;
        height: 165px;
    }
}

</style>