<template>
    <b-container v-if="item">
        <div class="d-flex justify-content-between py-3">
            <b-btn @click="previous()">Previous</b-btn>
            <b-btn @click="next()">Next</b-btn >
        </div>

         <div class="d-flex justify-content-center py-3">   
            <b-input-group style="width:300px">
                <b-input-group-prepend>
                    <b-input-group-text >Ir a</b-input-group-text>
                </b-input-group-prepend>

                <b-input type="number" @input="buscar" min="1" :max="pages" step="2">1</b-input>

                <b-input-group-append>
                    <b-input-group-text >
                        Págs.: {{ page }} / {{ pages }}
                    </b-input-group-text >
                </b-input-group-append>

            </b-input-group>
         </div>
            
         <Loader :width="120" :height="120" v-show="load"/>
        <div class="clearfix py-3"/>
       
        <div class="magazine" ref="magazine" v-show="!load">

        </div>

    </b-container>
</template>

<script>

import loader from '../global/Loader.vue';

export default {
    components:{
        loader,
    },

    props:[
        'item'
    ],

    data: ()  => ({
        pdfDoc: '',
        page: 1,
        pages: 0,
        load: false,
    }),

    computed:{
        llibret(){
            return this.item != null ? `pdf/${this.item}.pdf` : null ;
        },
    },

    watch:{
        llibret(item){
            item != null ? this.cargarCatalogo(item) : '';
        }
    },

    created(){
        this.$nextTick(() => {
            window.addEventListener('keydown', function (e) {
            if (e.keyCode == 37 )
                $('.magazine').turn('previous');
            else if (e.keyCode == 39)
                $('.magazine').turn('next');
            });

        });
    },

    beforeDestroy() {
      $('.magazine').turn("destroy");
    },
    
    methods:{
        cargarCatalogo(file){
            
            let pdfDoc, scale, np;
            const me = this;

            PDFJS.disableWorker = true;
            this.load = true;      
            
            PDFJS.getDocument(file).then( doc => {
                pdfDoc = doc;
                this.pages = np = (doc.numPages);

                scale = 1.5;

                for (let i = 1; i <= np; i++) {
                    $(".magazine").html($(".magazine").html() +
                        `<div>
                            <canvas id="hoja${i}" class="mx-auto sheet"></canvas>
                        </div>`);
                }

                for (let i = 1; i <= np; i++) {
                    me.renderPage(i, document.getElementById('hoja' + i), doc, scale);
                }

                me.flipkey();
                
            });
        
        },

        renderPage(num,hoja,pdfDoc,scale){
            let viewport = null;
            let renderContext = [];

            pdfDoc.getPage(num).then( page => {

                viewport = page.getViewport(scale);
                hoja.height = viewport.height;
                hoja.width = viewport.width;

                renderContext = {
                    canvasContext: hoja.getContext('2d'),
                    viewport: viewport
                };

                page.render(renderContext);
            });
        },

        flipkey() {
            const me = this;

            $('.magazine').turn({
                display: 'double',
                acceleration: true,
                gradients: true,
                elevation:50,
                autoCenter: true, 
                page: 1,
                acceleration: true,
                
                when: {
                    end: (event, pageObject, turned) => {
                    
                    },

                    first: (event) => {
                        me.load = false;
                    },

                //cuando llegas al final del libro    
                    last: (event) => {
                       
                    },

                //cuando estas pasando de hoja
                    turning: (event, page, view) => {
                        //page -> número de la página entrante
                        //view -> array con el númeor de página de las dos hojas que van a entrar
                        /*if (page==1) {
                            event.preventDefault();
                        }*/
                    },
                //cuando termina de pasar de hoja
                    turned: (event, page, view) => {
                       me.page = page;
                       //page -> número de la página entrante
                       //view -> array con el número de página de las dos hojas activas
                    },

                    zooming: (event,  newZoomValue, currentZoomValue) => {
                        
                    }




                }
            });
           

            //Evento Presionar tecla
        },
        previous() {
            $('.magazine').turn('previous');
        },

        next() {
            $('.magazine').turn('next');
        },

        buscar(page){
           //$('.magazine').turn("page", page).turn("stop"); // sin efecto de pasar hojas
           $('.magazine').turn("page", page);
        },

        aumentar(){
           $('.magazine').turn("zoom", 0.5);
        }
    }
}

</script>

<style lang="scss" scoped>

.magazine{
    width: 100%;
    max-width: 1000px;
    height: 600px;
    margin: auto;

    transition:margin-left 1s;
	-webkit-transition:margin-left 1s;
	-moz-transition:margin-left 1s;
	-o-transition:margin-left 1s;
	-ms-transition:margin-left 1s;
	transition:margin-left 1s;

    .turn-page{
        background-color: white;
    }

    .page-wrapper{
        -webkit-perspective:2000px;
        -moz-perspective:2000px;
        -ms-perspective:2000px;
        -o-perspective:2000px;
        perspective:2000px;
    }


}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 1200px) {
    .magazine{
        max-width: 600px;
        height: 400px;
    }
}

@media (max-width: 770px) {
    .magazine{
        max-width: 380px;
        height: 290px;
    }
}

</style>