<template>
      <b-navbar toggleable="lg" type="dark" variant="dark" ref="navBar" class="w-100" :class="visible ? 'sticky' : ''">
        <b-navbar-brand to="/">
          <font-awesome-icon icon="home"/>
       </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          
          <b-navbar-nav class="w-100 justify-content-between">
            <template v-for="(item, key) in menu">
              <b-nav-item v-if="!item.submenu" :key="key" :to="{name: item.route }" >
                {{item.name}}
              </b-nav-item>
              
              <b-nav-item-dropdown :text="item.name" right v-else :key="key" >
                <b-dropdown-item v-for="(sub, subKey) in item.submenu" :key="subKey" bg="dark" exact>{{ sub.name }}</b-dropdown-item>
              </b-nav-item-dropdown>
            </template>
          </b-navbar-nav>

          
        </b-collapse>
      </b-navbar>


  
</template>
<script>
import itemMenu from '../global/itemMenu.vue';
//import itemSubMenu from '../global/itemSubMenu.vue';

export default {
    components: {
      itemMenu,
      ////itemSubMenu
    },
    data: () => ({
      visible: false,
      interval: null,
      menu: [
          //{route: 'home', name: 'Inici', icon: '', permission: true},
          {route: 'quienes_somos', name: 'Qui som?', icon: '', permission: true},
          {route: 'eventos', name: 'Calendari d’Events', icon: '', permission: true},
          {route: 'comision', name: 'Comissió', icon: '', permission: true},
          {route: 'galeria', name: 'Galeria', icon: '', permission: false},
          {route: 'llibrets', name: 'Llibrets', icon: '', permission: true}, 
          {route: 'descargas', name: 'Descàrregues', icon: '', permission: true},
          {route: 'acceso_privado', name: 'Accès Privat', icon: '', permission: true},
          {route: 'noticias', name: 'El Racó d’articles', icon: '', permission: true, submenu:[
            {route: 'llibrets', name: 'Llibrets', icon: '', permission: true}, 
            {route: 'descargas', name: 'Descàrregues', icon: '', permission: true},
            {route: 'acceso_privado', name: 'Accès Privat', icon: '', permission: true},
          ]},
      ],
    }),
    mounted(){
      window.addEventListener('scroll', this.navSticky);
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.navSticky);
      if (this.interval) {
        clearInterval(this.interval);
      }
    },

    methods:{
      navSticky(){
        var navbar = this.$refs.navBar;
        var sticky = navbar.offsetTop;
        
        if(window.pageYOffset >= sticky) {
          this.visible = true;
        }else{
          this.visible = false;
        }
        
      },

    }
}

</script>

<style lang="scss">
@import '~@/abstracts/_variables.scss';


.sticky {
  position: sticky!important;
  top: 0;
  z-index: 999999999;
  .navbar-dark{
    width: 100%;
  }

}


.navbar-dark{
  min-height: 60px;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid gray;

  .navbar-nav{
    border-radius: 0 0 10px 10px;

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active,
    .nav-link:hover,
    .nav-link:focus,
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: $primary-opacity;
    }
  }

  .navbar-nav .nav-link, .navbar-brand {
    color: $primary;
    padding: 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 500;
  }

  
}





.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: pink !important;
}


@media (max-width: 990px){
  .navbar-collapse {
    background: $dark;
    margin-top: 15px;
    margin-left: -13px;
    border-radius: 10px!important;
    width: max-content!important;
  }
  .navbar-dark{
    border-bottom: 1px solid gray!important;
  }
}



/*.navbar{
  height: 60px;
  border-radius: 0 0 10px 10px;
  
    a, li {
      text-align: left;
      padding: 10px;
      font-size: 1.1em;
      display: block;
      letter-spacing: 1px;
      font-weight: 500;
      text-decoration: none;
      margin: auto;
      
        &:hover {
         
          font-weight: 400;
          
        }
        
    }

}*/

/*#nav-collapse.show{
  background-color: $dark;
  z-index: 999;
  padding:0;
    .navbar a, .navbar li {
      
      text-align: left;
      font-size: 1.1em;
      display: block;
      letter-spacing: 1px;
      font-weight: 500;
      text-decoration: none;
      margin: auto;
  }
}*/

/*.navbar{
  height: 60px;
  border-radius: 0 0 10px 10px;

    a, li {
      text-align: left;
      padding: 10px;
      font-size: 1.1em;
      display: block;
      letter-spacing: 1px;
      font-weight: 600;
      text-decoration: none;

        &:hover {
          border-radius: 10px;
          font-weight: 700;
        }
    }

    
  .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 0.9rem;
      color: red;
      text-align: left;
      list-style: none;
      background-color: $dark!important;
      background-clip: padding-box;
      border: 1px solid rgba(17, 17, 17, 0.15);
      border-radius: 0.25rem;
  }
      
}

@media (max-width: 1200px){
  .navbar{
    div a {
      font-size: .9em;
      letter-spacing: .5px;
      font-weight: 400;
      

        &:hover {
          font-weight: 500;
        }
    }
  }
}

@media (max-width: 7923.6em) {
    .navbar-collapse{
        position: absolute;
        right: 150%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: max-content;
        min-width: 25vh;
        transition: all 0.3s ease;
        display: block;
        z-index: 99999;
        border-radius: 10px 0 10px 10px;

        a {
          text-decoration: none;
          padding: 5px;
        }

        &.collapsing {
          height: auto !important;
          margin-right: 50%;
          transition: all 0.3s ease;
          display: block;
        }

        &.show {
          left: 15px;
        }
    }
   

    .sticky .navbar-collapse.show {
        left: 0px;
    }
    
}
@media (max-width: 550px) {
    .navbar-collapse.show {
        left: 5%;
    }
}*/
</style>