<template>
  
    <div :class="visible ? 'sticky' : ''">
        <b-navbar-nav class="navbar top-navigation navbar-dark bg-dark navbar-expand-lg justify-content-md-center justify-content-lg-between" ref="navBar">
                
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:red"></span>
            </button>

            <template v-for="(item, key) in menu">
              <itemMenu :item="item" v-if="!item.submenu" class="d-none d-lg-inline-block" :key="key"></itemMenu>
              <b-nav-item-dropdown tag="div" :text="item.name" right v-else :key="key" >
                <b-dropdown-item v-for="(sub, subKey) in item.submenu" :key="subKey" tag="div" variant="dark">{{ sub.name }}</b-dropdown-item>
              </b-nav-item-dropdown>

              
              <!--itemSubMenu :item="item" v-else class="d-none d-lg-inline-block" :key="key"></itemSubMenu-->
              <!--div class="dropdown" v-else :key="key">
                <a :href="`#submenu-${key}`" data-toggle="collapse" aria-expanded="false" :title="item.name">
                      <font-awesome-icon v-if="item.icon" :icon="item.icon" /><span>{{ item.name }}</span>
                  </a>
                  <div class="collapse" :id="`submenu-${key}`" v-for="(sub, key2) in item.submenu" :key="key2">
                    <router-link :to="{name: sub.route }" :title="sub.name"><font-awesome-icon v-if="sub.icon" :icon="sub.icon" /><span>{{ sub.name }}</span></router-link>
                  </div>
              </div>
            </template>
    

        </b-navbar-nav>

        <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
          
            <itemMenu v-for="(item, key) in menu" :item="item" :key="key" class="d-block d-lg-none" data-toggle="collapse" data-target=".navbar-collapse.show"></itemMenu>
          
        </div>
         
        
    </div>
  
</template>
<script>
import itemMenu from '../global/itemMenu.vue';
//import itemSubMenu from '../global/itemSubMenu.vue';

export default {
    components: {
      itemMenu,
      ////itemSubMenu
    },
    data: () => ({
      visible: false,
      interval: null,
      menu: [
          {route: 'home', name: 'Inici', icon: '', permission: true},
          {route: 'quienes_somos', name: 'Qui som?', icon: '', permission: true},
          {route: 'eventos', name: 'Calendari d’Events', icon: '', permission: true},
          {route: 'comision', name: 'Comissió', icon: '', permission: true},
          {route: 'galeria', name: 'Galeria', icon: '', permission: false},
          {route: 'llibrets', name: 'Llibrets', icon: '', permission: true}, 
          {route: 'descargas', name: 'Descàrregues', icon: '', permission: true},
          {route: 'acceso_privado', name: 'Accès Privat', icon: '', permission: true},
          {route: 'noticias', name: 'El Racó d’articles', icon: '', permission: true, submenu:[
            {route: 'llibrets', name: 'Llibrets', icon: '', permission: true}, 
            {route: 'descargas', name: 'Descàrregues', icon: '', permission: true},
            {route: 'acceso_privado', name: 'Accès Privat', icon: '', permission: true},
          ]},
      ],
    }),
    mounted(){
      window.addEventListener('scroll', this.navSticky);
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.navSticky);
      if (this.interval) {
        clearInterval(this.interval);
      }
    },

    methods:{
      navSticky(){
        var navbar = this.$refs.navBar;
        var sticky = navbar.offsetTop;
        
        if(window.pageYOffset >= sticky) {
          this.visible = true;
        }else{
          this.visible = false;
        }
        
      },

    }
}
</script>
<style lang="scss" scoped>
@import '~@/abstracts/_variables.scss';

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999999999;
}
.navbar{
  height: 60px;
  border-radius: 0 0 10px 10px;

    a, li {
      text-align: left;
      padding: 10px;
      font-size: 1.1em;
      display: block;
      letter-spacing: 1px;
      font-weight: 600;
      text-decoration: none;

        &:hover {
          border-radius: 10px;
          font-weight: 700;
        }
    }

    
  .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 0.9rem;
      color: red;
      text-align: left;
      list-style: none;
      background-color: $dark!important;
      background-clip: padding-box;
      border: 1px solid rgba(17, 17, 17, 0.15);
      border-radius: 0.25rem;
  }
      
}

@media (max-width: 1200px){
  .navbar{
    div a {
      font-size: .9em;
      letter-spacing: .5px;
      font-weight: 400;
      

        &:hover {
          font-weight: 500;
        }
    }
  }
}

@media (max-width: 7923.6em) {
    .navbar-collapse{
        position: absolute;
        right: 150%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: max-content;
        min-width: 25vh;
        transition: all 0.3s ease;
        display: block;
        z-index: 99999;
        border-radius: 10px 0 10px 10px;

        a {
          text-decoration: none;
          padding: 5px;
        }

        &.collapsing {
          height: auto !important;
          margin-right: 50%;
          transition: all 0.3s ease;
          display: block;
        }

        &.show {
          left: 15px;
        }
    }
   

    .sticky .navbar-collapse.show {
        left: 0px;
    }
    
}
@media (max-width: 550px) {
    .navbar-collapse.show {
        left: 5%;
    }
}
</style>