<template>
    <aside class="noticias .align-content-stretch">
        <h2>Articles: </h2>
        <hr>
        <b-card v-for="(item, key) in noticias" :key="key" :img-src="item.src" :img-alt="item.alt" align="center" img-bottom>
            <b-card-text>
            <h4>{{ item.title }}</h4>
            </b-card-text>
        </b-card>
    </aside>
</template>
<script>
export default {
        data: ()=>({
            noticias: [
                {src: 'http://placehold.it/350x250?text=Article 1', alt: 'imagen noticia', title: 'Títol article'},
                {src: 'http://placehold.it/350x250?text=Article 2', alt: 'imagen noticia', title: 'Títol article'},
                {src: 'http://placehold.it/350x250?text=Article 3', alt: 'imagen noticia', title: 'Títol article'},
            ]
        }),

        
    created(){
        window.scrollTo(0, 0);
    }
}
</script>
<style lang="scss" scoped>
.noticias{


    .card{
        border: 0;
        

        img{
            max-width: 400px;
            margin: auto;
            margin-bottom: 36px;     
    
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgba(17, 17, 17, 0.1) !important;
        }
        
    }
    
    .card-header {
        background: transparent;
    }

    .card-body {
        padding: .4rem!important;
    }
}
</style>