<template>
    <b-row>
        <b-col>
            <carousel 
                :items="items" 
                :margin="margin" 
                :loop="loop" 
                :center="center" 
                :nav="nav" 
                :autoplay="autoplay"  
                :autoplaySpeed="autoplaySpeed" 
                :rewind="rewind" 
                :mouseDrag="mouseDrag" 
                :touchDrag="touchDrag" 
                :pullDrag="pullDrag" 
                :freeDrag="freeDrag" 
                :stagePadding="stagePadding" 
                :autoWidth="autoWidth" 
                :autoHeight="autoHeight" 
                :dots="dots" 
                :autoplayTimeout="autoplayTimeout" 
                :autoplayHoverPause="autoplayHoverPause" 
                :responsive="responsive"
                @changed="changed" 
                @updated="updated">
                    <!--template slot="prev"><span class="prev">prev</span></template-->
                    <b-img fluid v-for="(item,key) in images" :key="key" :src="item"/>
                    <!--template slot="next"><span class="next">next</span></template-->
            </carousel>
        </b-col>
    </b-row>
</template>
<script>
import carousel from 'vue-owl-carousel'
import { scrypt } from 'crypto';

export default {
    components: { carousel },
    props: {
        images: {
            type: Object/Array,
            default: [],
            required: true,
        },
        //La cantidad de elementos que desea ver en la pantalla.
        'items': { 
            type: Number,
            default: 3,
        },

        //Margen-derecho (px) en el elemento.
        'margin':{  
            type : Number,
            default : 0,
        },

        //Bucle infinito. Duplique el último y el primer elemento para obtener una ilusión de bucle.
        'loop':{
            type : Boolean,
            default : true,
        },

        //Elemento central. Funciona bien incluso con un número impar de elementos.
        'center':{
            Type: Boolean,
            Default: true,
            
        },

        //Mostrar los botones siguiente / anterior.
        'nav':{
            Type: Boolean,
            Default: false,
        },

        //Autoplay
        'autoplay':{
            Type: Boolean,
            Default: true,
        },
            
        //Velocidad de reproducción automática.
        'autoplaySpeed':{
            Type: Number/Boolean,
            Default: false,
        },
        
        //Retrocede cuando el límite haya alcanzado.
        'rewind':{
            Type: Boolean,
            Default: true,
        },

        //Ratón arrastrado habilitado.
        'mouseDrag':{
            Type: Boolean,
            Default: true,
        },

        //Toque arrastrar habilitado.
        'touchDrag':{
            Type: Boolean,
            Default: true,
        },

        //Etapa de tirar al borde.
        'pullDrag':{
            Type: Boolean,
            Default: true,
        },
        
        //Artículo tirar al borde.
        'freeDrag':{
            Type: Boolean,
            Default: false,
        },

        //Padding a izquierda y derecha en el escenario.
        'stagePadding':{
            Type: Number,
            Default: 20,
        },
        
        //Establecer contenido no en cuadrícula. Intenta usar el estilo de ancho en divs.
        'autoWidth':{
            Type: Boolean,
            Default: true,
        },
        
        //Establecer contenido no en cuadrícula. Intenta usar el estilo de altura en divs.
        'autoHeight':{
            Type: Boolean,
            Default: false,
        },

        //Mostrar puntos de navegación.
        'dots':{
            Type: Boolean,
            Default: true,
        },

        //Autoplay intervalo de tiempo de espera.
        'autoplayTimeout':{
            Type: Number,
            Default: 5000,
        },

        //Pausa al pasar el mouse.
        'autoplayHoverPause':{
            Type: Boolean,
            Default: true,
        },

        //Example : :responsive="{0:{items:1,nav:false},600:{items:3,nav:true}}"
        //Objeto que contiene opciones de respuesta. Se puede establecer en falso para eliminar las capacidades de respuesta.
        'responsive':{
            Type: Object,
            Default: {},
        },
    },

    data: () => ({
    }),
    computed:{
        
    },
    methods:{
        changed(e){
            //console.log(e)
        },
        updated(e){
            //console.log(e)
        }
    }
}

</script>

<style lang="scss" scoped>
   
    .owl-carousel .owl-stage-outer{
        height: 200px!important;
    }
    .owl-carousel .owl-item img{
        width: initial!important;
        max-height: 200px!important;
        margin:auto;
    }
@media (max-width: 500px) {
    .owl-carousel .owl-stage-outer {
        height: 100px !important;
    }
}
</style>