<template>
    <b-row class="py-5">
        <b-col class="image">
        
            <div id="quote">
                <p id="quotetext" v-html="text"/>
            </div>

        </b-col>
    </b-row>
</template>
<script>
export default {
    props:{
        text: {
            type: String,
            default: "The problem is not the problem. The problem is your attitude about the problem.<br> - Captain Jack Sparrow"

        }
    }
}
</script>

<style lang="scss" scoped>

@import '~@/abstracts/_variables.scss';
/* image */
    #quotetext{
        font-size: 1.4em;
        font-weight: 600;
        color: $white;
        text-shadow: $black 0.1em 0.1em 0.2em;
        position: absolute;
        text-align: center;
        width: 400px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        /* Negative half of height. */
        margin-left: -200px;
        /* Negative half of width. */
    }

    #quote {
        background: -webkit-image-set( url('/img/paralax/paralax.jpg') 1x, url('http://img2.rtve.es/v/5068322?w=1600&preview=1552741744681.jpg') 2x);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }


    /* end image */

    @media (max-width: 767px) {
    
        #quotetext {
            width: 300px;
            height: 100px;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -150px;
        
        }
    }

</style>