<template>
    <div class="ct-chart">
        <canvas :id="chartId"></canvas>
    </div>
</template>

<script>

import variables from "../../../sass/abstracts/_variables.scss";
import configChart from '../../modules/chart.js';

export default {
   
    props: {
        chartId: {
            type: String,
            required: true,
            default: 'chart'
        },
        chartType: {
            type: String,
            required: false,
            default: 'bar'
        },
        chartTitle: {
            type: String,
            required: false,
            default: '',
        }
    },
    mixins: [configChart],
    data: ()=>({
        chart: null,
        chartLabels: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
        //options: configChart.options,
    }),
    mounted(){
        
        let me = this;
        
        me.chart = document.getElementById(this.chartId).getContext('2d');

        let data = [0, 0, 1, 2, 67, 62, 27, 14];
        
        let backgroundColor = data.map( data => {
                return variables.primary;
            });
        
        let borderColor = data.map( data => {
                return '#36495d';
            });
        
       me.chart = new Chart(me.chart, {
            type: 'bar',
            data: {
                labels: this.chartLabels,
                datasets: [
                    { // one line graph
                        label: 'Number of Moons',
                        type: 'line', // Add this
                        data: data,
                        backgroundColor: backgroundColor,
                        borderColor: borderColor,
                        borderWidth: 2
                    },
                    { // another line graph
                        label: 'Planet Mass (x1,000 km)',
                        type: this.chartType, // Add this
                        data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2],
                        backgroundColor: [
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                        ],
                        borderColor: [
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                        ],
                        borderWidth: 3
                    },
                    { // another line graph
                        label: 'Planet Mass (x1,000 km)',
                        type: this.chartType, // Add this
                        data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2],
                        backgroundColor: [
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                        ],
                        borderColor: [
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                            '#47b784',
                        ],
                        borderWidth: 3
                    },
                ]
            },
            options: this.optionsBar,
        });

        
    },
    
}

/*  type: 'line',
  data: {
    labels: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
    datasets: [
      { // one line graph
        label: 'Number of Moons',
        data: [0, 0, 1, 2, 67, 62, 27, 14],
        backgroundColor: [
          'rgba(54,73,93,.5)', // Blue
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)',
          'rgba(54,73,93,.5)'
        ],
        borderColor: [
          '#36495d',
          '#36495d',
          '#36495d',
          '#36495d',
          '#36495d',
          '#36495d',
          '#36495d',
          '#36495d',
        ],
        borderWidth: 3
      },
      { // another line graph
        label: 'Planet Mass (x1,000 km)',
        data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2],
        backgroundColor: [
          'rgba(71, 183,132,.5)', // Green
        ],
        borderColor: [
          '#47b784',
        ],
        borderWidth: 3
      }
    ]
  },
  options: {
    responsive: true,
    lineTension: 1,
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          padding: 25,
        }
      }]
    }
  }
}*/

</script>