<template>
  
    <div class="ct-chart">
        <canvas :id="chartId" class="chart"></canvas>
    </div>
</template>

<script>

import variables from "../../../sass/abstracts/_variables.scss";
import configChart from '../../modules/chart.js';

export default {
   
    props: {
        chartId: {
            type: String,
            required: true,
            default: 'chart'
        },
        chartType: {
            type: String,
            required: false,
            default: 'bar'
        },
        chartTitle: {
            type: String,
            required: false,
            default: '',
        }
    },
    data: ()=>({
      chart: null,
      labels:["Africa", "Asia", "Europe", "Latin America", "North America"],
      labels2: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    }),
    computed:{
      datasets(){
        let datasets = {
          bar:[{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [2478,5267,734,784,433]
          }],
          line: [
            { 
              data: [86,114,106,106,107,111,133,221,783,2478],
              label: "Africa",
              borderColor: "#3e95cd",
              fill: false
            }, 
            { 
              data: [282,350,411,502,635,809,947,1402,3700,5267],
              label: "Asia",
              borderColor: "#8e5ea2",
              fill: false
            },
            { 
              data: [168,170,178,190,203,276,408,547,675,734],
              label: "Europe",
              borderColor: "#3cba9f",
              fill: false
            },
            { 
              data: [40,20,10,16,24,38,74,167,508,784],
              label: "Latin America",
              borderColor: "#e8c3b9",
              fill: false
            },
            { 
              data: [6,3,2,2,7,26,82,172,312,433],
              label: "North America",
              borderColor: "#c45850",
              fill: false
            }
          ],
          radar: [
            {
              label: "1950",
              fill: true,
              backgroundColor: "rgba(179,181,198,0.2)",
              borderColor: "rgba(179,181,198,1)",
              pointBorderColor: "indigo",
              pointBackgroundColor: "rgba(179,181,198,1)",
              data: [8.77,55.61,21.69,6.62,6.82],
              radius: 4,
              pointRadius: 4,
              pointBorderWidth: 1,
              pointHoverRadius: 5,
            }, 
            {
              label: "2050",
              fill: true,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              pointBorderColor: "indigo",
              pointBackgroundColor: "rgba(255,99,132,1)",
              data: [25.48,54.16,7.61,8.06,4.45],
              radius: 4,
              pointRadius: 4,
              pointBorderWidth: 1,
              pointHoverRadius: 5,
            }
          ],
          pie: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [2478,5267,734,784,433]
          }],
          polarArea: [{
              label: "Population (millions)",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [2478,5267,734,784,433]
          }],
          doughnut: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [2478,5267,734,784,433]
          }],
          horizontalBar: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [2478,5267,734,784,433]
          }],
          bubble: [
            {
              label: ["China"],
              backgroundColor: "rgba(255,221,50,0.2)",
              borderColor: "rgba(255,221,50,1)",
              data: [{
                x: 21269017,
                y: 5.245,
                r: 15
              }]
            },
            {
              label: ["Denmark"],
              backgroundColor: "rgba(60,186,159,0.2)",
              borderColor: "rgba(60,186,159,1)",
              data: [{
                x: 258702,
                y: 7.526,
                r: 10
              }]
            },
            {
              label: ["Germany"],
              backgroundColor: "rgba(0,0,0,0.2)",
              borderColor: "#000",
              data: [{
                x: 3979083,
                y: 6.994,
                r: 15
              }]
            },
            {
              label: ["Japan"],
              backgroundColor: "rgba(193,46,12,0.2)",
              borderColor: "rgba(193,46,12,1)",
              data: [{
                x: 4931877,
                y: 5.921,
                r: 15
              }]
            }
          ]
        };

        return datasets[this.chartType];
      },
      
    },
    mounted(){
      this.fillChart();
      
    },

    methods:{
      fillChart(){
        let me = this;
      
        me.chart = document.getElementById(this.chartId).getContext('2d');
        
        //let data = [2478,5267,734,784,433];
        
        /*let backgroundColor = data.map( data => {
          return variables.primary;
        });
        
        let borderColor = data.map( data => {
          return '#36495d';
        });*/

        if(this.datasets.length == 1 && (this.chartType == 'bar' || this.chartType == 'horizontalBar')){
          configChart.legend.display =  false;
        }else{
          configChart.legend.display =  true;
        }

        if(this.chartType == 'radar' || this.chartType == 'pie' || this.chartType == 'polarArea' || this.chartType == 'doughnut'){
          configChart.scales.yAxes[0].display = false;
          configChart.scales.xAxes[0].display = false;
        }else{
          configChart.scales.yAxes[0].display = true;
          configChart.scales.xAxes[0].display = true;
        }

        if(this.chartType == 'bubble'){
          configChart.scales.yAxes = [{ 
                scaleLabel: {
                  display: true,
                  labelString: "Happiness"
                }
              }];
          configChart.scales.xAxes = [{ 
                scaleLabel: {
                  display: true,
                  labelString: "GDP (PPP)"
                }
              }];
        }

        if(this.chartTitle != ''){
          configChart.title.display = true;
          configChart.title.text = this.chartTitle;
        }
        
        me.chart = new Chart(me.chart, {
          type: this.chartType,
          data: {
            labels: this.chartType == 'line' ? this.labels2 : this.labels,
            datasets: this.datasets
          },
          options: configChart,
        });
      },
      getRandomColor() {
        let letters = '0123456789ABCDEF';
        let color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }
    }
}
</script>

<style>

.ct-chart{
  height: 400px!important;
}

</style>