<template>
  
    <b-nav tag="nav" class="navbar top-navigation justify-content-between">
      <b-btn class="button-sidebar" @click="toggleShowSidebar()" :class="{'active': showSidebar}">
        <img class="chevron" v-show="!showSidebar" src="/img/chevron-right.svg"/>
        <img class="chevron-active" v-show="showSidebar" src="/img/chevron-right-active.svg"/>
      </b-btn>
      
      <div class="dropdown float-right">
        <div data-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation" class="welcome dropdown-toggle">
          <!--img class="avatar" style="width:50px" v-if="user != '' && userLoadStatus == 2" :src="user.avatar_url" v-show="userLoadStatus == 2"/-->
          Bienvenido <b>{{ user.name }}</b>
        </div>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" v-if="user != '' && userLoadStatus == 2" v-show="userLoadStatus == 2" @click="logout()">Cerrar sesión</a>
          <a v-if="user == ''" @click="login()">Sign In</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    
    </b-nav>
  
</template>

<script>
  import { EventBus } from '../../event-bus.js';
  
  export default {
    data: () => ({
      latitude: 40.4165000,
      longitude: -3.7025600,
      zoom: 8,
    }),
    computed: {
      userLoadStatus(){
        return this.$store.getters.getUserLoadStatus();
      },

      user(){
        return this.$store.getters.getUser;
      },

      showSidebar(){
        
        return this.$store.getters.getShowSidebar;
      },

      ShowPopOut(){
        return this.$store.getters.getShowPopOut;
      },
     

    },
    
    mounted(){
      if ("geolocation" in navigator){ //check geolocation available 
        //try to get user current location using getCurrentPosition() method
        /*navigator.geolocation.getCurrentPosition((position) => { 
              this.latitude = position.coords.latitude;
              this.longitude = position.coords.longitude;
              //this.panToLocation(); 
        });*/
      }else{
          console.log("Browser doesn't support geolocation!");
      }
    },

    methods: {
      logout(){
        this.$store.dispatch( 'userAdminLogOut' );
      },

      toggleShowSidebar(){
       this.$store.dispatch( 'toggleShowSidebar', { showSidebar : !this.showSidebar} );
      },

      toggleShowPopOut(){
        this.$store.dispatch( 'toggleShowPopOut', { showPopOut: !this.showPopOut } );
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@/abstracts/_variables.scss';
  .welcome{
    cursor: pointer;
    
  }
  nav.top-navigation{
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(3, 27, 78, 0.1);
    height: 75px;
    
    
    
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem $primary-color-opacity;
     
    }

    /*.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
      border-color: $secondary-color;
    }*/

    .btn-secondary:focus, .btn-secondary.focus {
      box-shadow: 0 0 0 0.2rem $primary-color-opacity;
    }

    .button-sidebar{
      color: $secondary-color;
      background-color: $secondary-color!important;
      text-align: center;
      font-family: "Lato", sans-serif;
      border-color: $primary-color;

      img{
        display: inline-block;
        vertical-align: middle;
        height: 13px;
      }

      img.chevron-active{
        display: none;
      }

      &.active{
        background-color: $primary-color!important;
        
        img.chevron{
          display: none;
        }

        img.chevron-active{
          display: inline-block;
        }
      }
}
    
  }

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    
  }

  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {

  }

  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {

  }
</style>


