<template>
    
    <div class="text-center">
        <div id="legend"></div>
        <canvas :id="chartId"></canvas>
    </div>

</template>


<script>
    import variables from "../../../sass/abstracts/_variables.scss";

export default {
   
    props: {
        chartId: {
            type: String,
            required: true,
        },
    },
     data: ()=>({
        chart: null,
        chartLabels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December"
            ],
    }),
    mounted(){   
        
        let me = this;
        me.chart = document.getElementById(me.chartId).getContext('2d');

        me.chart = new Chart(me.chart, {
            type: 'pie',
            data: {
                labels: ["Green", "Blue", "Gray", "Purple", "Yellow", "Red", "Black"],
                datasets: [{
                backgroundColor: [
                   variables.primary,
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                ],
                data: [12, 19, 3, 17, 28, 24, 7]
                }]
            },
            options: {
                legend: {
                    display: false
                },
            }
        });

        var myLegendContainer = document.getElementById("legend");
        // generate HTML legend
        myLegendContainer.innerHTML = me.chart.generateLegend();
        // bind onClick event to all LI-tags of the legend
        var legendItems = myLegendContainer.getElementsByTagName('li');
        for (var i = 0; i < legendItems.length; i += 1) {
        legendItems[i].addEventListener("click", legendClickCallback, false);
        }

        function legendClickCallback(event) {
        event = event || window.event;

        var target = event.target || event.srcElement;
        while (target.nodeName !== 'LI') {
            target = target.parentElement;
        }
        var parent = target.parentElement;
        var chartId = parseInt(parent.classList[0].split("-")[0], 10);
        var chart = Chart.instances[chartId];
        var index = Array.prototype.slice.call(parent.children).indexOf(target);
        var meta = chart.getDatasetMeta(0);
        
            var item = meta.data[index];

        if (item.hidden === null || item.hidden === false) {
            item.hidden = true;
            target.classList.add('hidden');
        } else {
            target.classList.remove('hidden');
            item.hidden = null;
        }
        chart.update();
        }


                
    }
}
</script>

<style>

[class$="-legend"] {
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}

[class$="-legend"] li {
  display: inline-block;
  padding: 0 5px;
}

[class$="-legend"] li.hidden {
  text-decoration: line-through;
}

[class$="-legend"] li span {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

</style>