<template>
  <transition name="slide-in-left">
    <nav id="sidebar" :class="{'active': !showSidebar}">
      <div class="sidebar-header">
				<router-link :to="{name: 'layout'}" tag="div" class="click">
					<h3 class="titulo">
            <b>Nombre de la empresa</b>
          </h3>
					
          <b-img class="logo" fluid :src="user.avatar_url"/>
          
				</router-link>
			</div>

      <div class="components"> 
        <itemMenu v-for="(item, key) in menu" :item="item" :key="key" ></itemMenu>
      </div>

      <div class="CTAs">
        <itemMenu v-for="(item, key) in links" :item="item" :key="key" ></itemMenu>
      </div>
    </nav>
  </transition>
</template>

<script>
  /*
    Imports the event bus
  */
  import { EventBus } from '../../event-bus.js';
  import itemMenu from '../global/itemMenu.vue';
  import itemSubmenu from '../global/itemSubmenu.vue';

  export default {
    props: {
      menu2: {
        type: Array,
        required: false
      },
    },

    components: {
      itemMenu,
      itemSubmenu
    },

    data: () =>({
      /*menu: [
        {route: 'users', name: 'Usuarios', icon: 'user'},
        {route: 'users', name: 'Usuarios2', icon: 'user', submenu: 
            [
              {route: 'users', name: 'Sub menu user 1', icon: 'user'},
              {route: 'users', name: 'Sub menu user 2', icon: 'user'},
              {route: 'users', name: 'Sub menu user 3', icon: 'user'}
            ],
          
        },
        {route: 'iconos', name: 'Iconos', icon: 'icons'},
      ],*/
      menu: [
        {route: 'users', name: 'Usuarios', icon: 'user'}
      ],
      links: [
        {route: '', name: 'Link',  icon: ''},
        {route: '', name: 'Link 2', icon: ''},
      ]
    }),
    mounted(){
      EventBus.$on('show-right-nav', () =>{
        this.show = true;
      });

    },

    watch: {
      
    },

    computed: {
      showSidebar(){
        return this.$store.getters.getShowSidebar;
      },

      user(){
        return this.$store.getters.getUser;
      },

      userLoadStatus(){
        return this.$store.getters.getUserLoadStatus();
      },
            
    },

    methods: {
      /*toggleShowSidebar(){
        this.$store.dispatch( 'toggleShowSidebar', { showSidebar : !this.showSidebar } );
      },*/
    },
  }
</script>
 

<style lang="scss">
  @import '~@/abstracts/_variables.scss';
#sidebar {
    
  min-width: 250px;
  max-width: 250px;
  background: $menu-background; 
  background: $background-color-linear-webkit;
  background: $background-color-linear;
  box-shadow: 0 2px 4px 0 rgba(3,27,78,0.10);
  color: $menu-text;
  transition: all 0.3s;
  min-height: calc(100vh);
  position: fixed;
  z-index: 1;
  top: 0;

    .titulo{
      padding: 20px !important;
      color: #fcfcfc !important;
      text-align: center !important;
      font-family: 'Lobster Two', cursive !important;
      background: $menu-background;
    }
  
    
    &.active{
      min-width: 80px;
      max-width: 80px;
      text-align: center;
   

      .sidebar-header{
        
        h3{
          display: none;
        }
        
        .logo{
          margin: auto;
          display: block;
          background-color: $menu-background;
        }
      } 
      
      .CTAs {
        display: none;
      }

      span{
        display: none;
      }

      /*listas
      ul {

        li a {
          padding: 20px 10px;
          text-align: center;
          font-size: 0.85em;

          i{
            margin-right:  0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
          }
        }

        ul a {
          padding: 10px !important;
        }
      }
      */
      //listas con div
      div{

        a {
          padding: 10px 10px;
          text-align: center;
          font-size: 0.85em;
          

          svg {
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
            
          }

          i {
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
          }
        }

        div div a svg {
          font-size: 1.85em;
        }

        div div a i {
          font-size: 1.85em;
        }

      }


      div {
        a {
          padding: 10px 10px;
          text-align: center;
          font-size: .85em;
       
          svg{
            margin: auto;
            font-size: 2.8em;
            
          }

          i{
            margin: auto;
            font-size: 2.8em;
          }
        }

      }
    }
    /*
    ul{

      .components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
      }

      li{
        &.active > a, a[aria-expanded="true"] { 
          color: $menu-text;
          background: $menu-secondary-color;
        } 

        a {
          text-align: left;
          padding: 10px;
          font-size: 1.1em;
          display: block;

          &:hover {
            color: $menu-text-hover;
            background: $menu-secondary-color;
          }

          i {
            margin-right: 10px;
          }
        }
      }
    }
    */
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      content: '\f3d0';
      display: block;
      position: absolute;
      right: 3px;
      font-family: "Ionicons";
      font-size: 1em;
      bottom: 4px;
    }   

    a[aria-expanded="true"]::before {
      content: '\f3d8';
    }
     
    div{

      &.components {
        padding: 20px 0;
        border-bottom: 1px solid $menu-secondary-color;
      }
      
      div div a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $menu-background;
        
      }

      a {
        text-align: left;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        letter-spacing: 1px;
        font-weight: 600;
        color: $menu-secondary-color;
        text-decoration: none;

          &:hover {
            color: $menu-text-hover;
            background: $menu-secondary-color;
            font-weight: 700;
          }

          svg {
            margin-right: 10px;
            
          }

          i {
            margin-right: 10px;
            
          }
      }
    }
    
    .dropdown-toggle::after {
      display: none
    }
   
    .logo{
      display: none;
    }

    .router-link-active, .router-link-active[aria-expanded="true"] {
      color: $menu-text;
      background: $menu-secondary-color;
    }

    a[data-toggle="collapse"] {
      position: relative;
    }

    div{

      a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        content: '\f3d0';
        display: block;
        position: absolute;
        right: 10px;
        font-family: "Ionicons";
        font-size: 1em;
      }

      a[aria-expanded="true"]::before {
        content: '\f3d8';
      }
    }

    /*ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: $menu-background;
    }*/

    div{

      &.CTAs {
        padding: 20px;

        a {
          text-align: center;
          font-size: 0.9em !important;
          display: block;
          border-radius: 5px;
          margin-bottom: 5px;
        }
      }
    }

    a{

      .download {
        background: $white;
        color: #0031ff;
      }

      .article, .article:hover {
        background: $menu-background !important;
        color: $menu-text !important;
      }
    }


}

/* Small only */
  @media screen and (max-width: 39.9375em) {
    #sidebar {
        display: none;
      &.active{
        display: unset;
      }
    }
  }

</style>