<template>
  <section class="login-block">
    
    <b-container class="my-auto">
      <b-row>
        <b-col col md="4" class="justify-content-md-center login-sec">
          <h2 class="text-center">Inicia sesión</h2>
          <b-form @submit="onSubmit">
            <div class="text-primary shadow-sm text-center"><h3>{{errores.length ? errores : ''}}</h3></div>
            <b-form-group label="Correo-e" label-for="input-email" description="Nunca compartas tu correo electrónico con nadie.">
              <b-form-input id="input-1" v-model="email" type="email" required placeholder="Enter email"></b-form-input>
            </b-form-group>
            <b-form-group label="Contraseña" label-for="input-pass">
              <b-form-input id="input-2" v-model="password" type="password" required placeholder="Enter email"></b-form-input>
            </b-form-group>
            
            <b-btn variant="danger" type="submit" class="btn-login float-right">Enviar</b-btn>

          </b-form>
        </b-col>
        <b-col col md="8" class="banner-sec d-none d-md-block d-lg-block"> 
          <b-carousel @sliding-start="onSlideStart" @sliding-end="onSlideEnd" 
            :controls="config.controls" 
            :indicators="config.indicators" 
            :background="config.background" 
            :interval="config.interval" 
            :img-width="config.imgWidth" 
            :img-height="config.imgHeight">
          <b-carousel-slide v-for="(image, key) in images" :key="key">
            <b-img slot="img" class="d-block img-fluid w-100 h-100" @click="goTo(image.web)"
              :src="image.src"
              :alt="image.alt"
              width="1024"
              height="480">
            </b-img>
            <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                    <h2>{{ image.caption }}</h2>
                    <p>{{ image.text }}</p>
                </div>	
              </div>
          </b-carousel-slide>
          </b-carousel>
        </b-col>
      </b-row>
    </b-container>
  </section>
  
</template>

<script>
//import { validEmail } from '../../../utils/validate';

export default {
  name: 'login',
  data:() => ({
    
    email: 'minombredario@gmail.com',
    password: '123',
    remember_me: false,
    config:{
      controls: false,
      indicators: true,
      interval: 4000,
      imgWidth: 600,
      imgHeight: 500,
      background: "#ababab",
      slide: 0,
      sliding: null,
    },
    images: [
      {src: "https://static.pexels.com/photos/33972/pexels-photo.jpg", text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation', caption: 'This is First Slide', alt:"", web: "www.google.es", title:""},
      {src: "https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg", text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation', caption: 'This is Second Slide', alt:"", web: "#", title:""},
      {src: "https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg", text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation', caption: 'This is Heaven', alt:"", web: "#", title:""},
    ]

  }),
  computed:{
    errores:{
      set(error){
          this.$store.commit('setUserErrores', error);
      },
      get(){
        return this.$store.getters.getUserErrores;
      }
          
    },
  },

  watch:{
    
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.$store.dispatch('loginAdmin', {email: this.email,password: this.password, remember_me: this.remember_me})
    },
    onSlideStart (slide) {
	      this.config.sliding = true
	  },
    onSlideEnd (slide) {
      this.config.sliding = false
    },
    
    goTo(web){
      const patron = /(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gi;
      if(patron.test(web)){
        window.open(`http://${web}`, '_blank');
      }
    		
    },
  }
}
</script>

<style lang="scss">
@import '~@/abstracts/_variables.scss';
  .login-block {
    background: $background-color; 
    /* fallback for old browsers */
    background: $background-color-linear-webkit;
    /* Chrome 10-25, Safari 5.1-6 */
    background: $background-color-linear;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //float: left;
    width: 100%;
    padding: 0px 20px 0;
    min-height: calc(100vh);
    align-items: center;
    display: flex;
    justify-content: center;
    

    .banner-sec {
      min-height: 500px;
      border-radius: 0 10px 10px 0;
      padding: 0;
    }

    .container {
      background: $background-color;
      border-radius: 10px;
      box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
      
    }

    .carousel-inner {
      border-radius: 0 10px 10px 0;

      & img{
        height: 500px !important;
      }
    }

    .login-sec {
      padding: 50px 30px;
      position: relative;

      & h2 {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 30px;
        color: $primary-color;
      }

      & h2:after {
        content: " ";
        width: 100px;
        height: 5px;
        background: #FEB58A;
        display: block;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto
      }

      & label{
        text-transform: uppercase;
      }

    }

    .banner-text {
      width: 70%;
      position: absolute;
      bottom: 0;
      padding-left: 0;


      & h2 {
        margin: auto;
        font-size: calc(0.1rem + 1vmin + 1vmax);
        color:#e87c6e;
        font-weight: 900;
        line-height: 1.5;
        transition: .1s;
        filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000)  drop-shadow(-1px 1px 0 #000) drop-shadow(1px -1px 0 #000) drop-shadow(-1px -1px 0 #000);
      }

      & h2:after {
        content: " ";
        width: 100px;
        height: 5px;
        background: $white;
        display: block;
        margin-top: 20px;
        border-radius: 3px;
      }

      & p {
        color: $black;
        background: $primary-color;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, rgba(255, 184, 140, 0.5), rgba(222, 98, 98, 0.5));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 184, 140, 0.5), rgba(222, 98, 98, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        
        
      }
    }


    .btn-login {
      background: $primary-color;
      color: $white;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .carousel-caption {
      text-align: left;
      left: 5%;
    }
  }











</style>


<!--div>
        <h2>Login</h2>
        <form @submit.prevent="login">
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" v-model="email" name="email" class="form-control" :class="{ 'is-invalid': submitted && !email }" />
                <div v-show="submitted && !email" class="invalid-feedback">email is required</div>
            </div>
            <div class="form-group">
                <label htmlFor="password">Password</label>
                <input type="password" v-model="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && !password }" />
                <div v-show="submitted && !password" class="invalid-feedback">Password is required</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" :disabled="status.loggingIn">Login</button>
                <img v-show="status.loggingIn" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <router-link to="/register" class="btn btn-link">Register</router-link>
            </div>
        </form>
        
    </div-->