<template>
    <option :value="value" v-if="disabledOption">{{ text }}</option>
</template>

<script>

    export default{
        props: {
            value: {
                type: Number,
                required: true
            },
            text: {
                type: String,
                required: true
            },
            permission: {
                type: Number,
                required: true
            },
        },
        data: ()=> ({

        }),

        computed:{
            disabledOption(){
                let show = true;
                switch(this.permission){
                    case 0:
                        show = this.value == 0 ? true : false;
                        break;
                    case 1:
                        show = this.value <= 1 ? true : false;
                        break;
                    case 2:
                        show = this.value <= 2 ? true : false;
                        break;
                    case 3:
                        show = this.value <= 3 ? true : false;
                        break;
                }

                return show;
                 
            }
        }
    }
</script>