<template>
    <b-container fluid>
        <b-row v-for="(icon, key) in icons" :key="key" class="pb-2 text-center">
            <b-col v-for="(size, key) in sizes" :key="key">
                
                    <div>
                        <span class="d-block">{{ icon }} - {{ size }} </span>
                    </div>
                    <div class="h-100 w-100 justify-content-center">
                        <font-awesome-icon class="my-auto" :icon="icon" :size="size"/>
                    </div>
                
                
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        data:() =>({
            icons: ['users','user-check','user-plus','male', 'female', 'user-cog'],
            sizes: ['xs','sm','lg','2x','3x','5x','7x','10x']
        })
    }
    
</script>