<template>
  <b-container fluid>
      <h1>Usuarios</h1>
  </b-container>
</template>

<script>
  export default {
    props: ['user']
  }
</script>

<style lang="scss">
  @import '~@/abstracts/_variables.scss';

  .user-listing{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    img.avatar{
      width: 20px;
      height: 20px;
      border-radius: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
</style>