// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;
$enable-gradients: true;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #800080;
$purple-opacity: #80008038;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



$default: $indigo;
$primary: #f66d9b;
$primary-opacity: #ea487a;
$secondary:#800080;

$success:#38c172;
//$success-opacity:#38c1717a;

$danger: rgba(222,98,98);
//$danger-opacity: rgba(222,98,98,.5);

$info: $cyan;

$warning:#f6993f;
/*$light:;
$dark:;*/

$white: #FFFFFF;
$black: #111111;
$grey: #A0A0A0;

$primary-color: rgba(222,98,98);
$primary-color-opacity: rgba(222,98,98,.5);
$secondary-color: rgba(255,184,140);
$secondary-color-opacity: rgba(255,184,140,.5);
$text-secondary-color: #054E7A;
$highlight-color: #FFDBA0;
$dark-color: #7F5F2A;
$dull-color: #CCAF80;
$dark : #343a40 !default;
//$success: #39dd4c;
//$dark-success: #269b55;
$failure: #dd3e38;
$dark-failure: #9b2f25;


// Background
$background-color: #FFFFFF;
$background-color-linear-webkit: -webkit-linear-gradient(to bottom, $secondary-color, $primary-color);
$background-color-linear: linear-gradient(to bottom, $secondary-color, $primary-color);
// Hamburger icon colors
$menu-icon-color: #999999;

// Menu colors
$menu-background: #DE6262;
$menu-text: #FFFFFF;
$menu-text-hover: #E0E0E0;
$menu-primary-color: red;
$menu-secondary-color: $purple;
$menu-secondary-color-opacity: $purple-opacity;

/*:export {
    primary: $primary-color-opacity;
    secondary: $secondary-color;
    
  }
  */


/* Pruebas */

$font_1: 'Playfair Display', serif;
$font_2: 'Arvo', serif;
$font_3: 'Oswald', sans-serif;
@mixin shape{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 12px #8D9082;
  background-position: center;
  background-size: cover;
  margin-left: 35px;
}