<template>
    <b-container fluid class="page-wrapper my-5">
        
        <h1 class="text-center">Comissió</h1>

        <hr>

        <b-row class="py-5">
            <b-col sm="12" md="2" class="pb-5">
                <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-directiva" role="tab" aria-controls="directiva">Junta Directiva</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-majors" role="tab" aria-controls="majors">Càrrecs Majors</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-infantils" role="tab" aria-controls="infantils">Càrrecs Infantils</a>
                </div>
            </b-col>
            <b-col sm="12" md="10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-directiva" role="tabpanel" aria-labelledby="list-home-list">
                        <h2 class="text-center">Junta Directiva</h2>
                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-1 variant="info">
                                    <h4>Carrecs</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <b-img src="/img/varias/junta.png" class="float-right" fluid/>
                                        <p><strong>PRESIDENT:</strong> </p>
                                        <p><strong>VICEPRESIDENT DE CASAL I JUVENTUD:</strong> </p>
                                        <p><strong>VICEPRESIDENT DE ACTIVITATS DIVERESES I FESTEJOS:</strong> </p>
                                        <p><strong>VICEPRESIDENT DE CULTURA I COMUNICACIÓ:</strong> </p>
                                        <p><strong>SECRETARIA:</strong> </p>
                                        <p><strong>VICESECRETARIA:</strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>

                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-2 variant="info">
                                    <h4>AREA DE TESORERIA</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-2" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Tresorers:</strong> </p>
                                        <p><strong>Comptadora:</strong> </p>
                                        <p><strong>Loteries i Rifes:</strong> </p>
                                        <p><strong>Arxiu i Cens:</strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>


                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-3 variant="info">
                                    <h4>AREA DE CULTURA I COMUNICACIÓ</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-3" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Llibret:</strong> </p>
                                        <p><strong>Web:</strong> </p>
                                        <p><strong>Red Socials:</strong> </p>
                                        <p><strong>Protocol i Incidencies:</strong> </p>
                                        <p><strong>Relacions Publiques:</strong> </p>
                                        <p><strong>Anagrames, Bandes i Polars:</strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>

                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-4 variant="info">
                                    <h4>AREA DE FESTEJOS</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-4" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Cavalcada:</strong> </p>
                                        <p><strong>Presentació:</strong> </p>
                                        <p><strong>Teatre:</strong> </p>
                                        <p><strong>Bandes Música:</strong> </p>
                                        <p><strong>Floristería:</strong> </p>
                                        <p><strong>Miseres:</strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>

                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-5 variant="info">
                                    <h4>AREA DE JUVENTUD</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-5" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Delegat Jovens:</strong> </p>
                                        <p><strong>Delegats Infantils: </strong> </p>
                                        <p><strong>Esports: </strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>


                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-6 variant="info">
                                    <h4>AREA DE CASAL</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-6" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Coordinador Casal: </strong> </p>
                                        <p><strong>Delegats Casal:  </strong> </p>
                                        <p><strong>Esdev. Culinaris Casal i Falles: </strong> </p>
                                        <p><strong>Esdev.Culinaris Setmana Gastronòmica: </strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>


                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-7 variant="info">
                                    <h4>AREA ACTIVITATS DIVERSES</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-7" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p><strong>Megafonía, Electricitat:  </strong> </p>
                                        <p><strong>Coets i Cremà Falla: </strong> </p>
                                        <p><strong>Intinerari Albades: </strong> </p>
                                        <p><strong>Cartes: </strong> </p>
                                        <p><strong>Plantà, Banderes, Parador:  </strong> </p>
                                        <p><strong>Ingeni i Gracia: </strong> </p>
                                        <p><strong>Repartidores: </strong> </p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>


                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block href="#" v-b-toggle.accordion-8 variant="info">
                                    <h4>REPRESENTANTS FEDERACIÓ DE FALLES D’ALAQUAS</h4>
                                </b-button>
                            </b-card-header>
                            <b-collapse id="accordion-8" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <b-card-text>
                                        <p></p>
                                        <p></p>
                                    </b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </div>

                    <div class="tab-pane fade" id="list-majors" role="tabpanel" aria-labelledby="list-majors-list">
                        <h4 class="text-center">Càrrecs Majors</h4>
                        <p><strong>President: </strong> </p>
                        <p><strong>Fallera Major: </strong> </p>
                        
                    </div>

                    <div class="tab-pane fade" id="list-infantils" role="tabpanel" aria-labelledby="list-infantils-list">
                        <h4 class="text-center">Càrrecs Infantils</h4>
                        <p><strong>President Infantil: </strong> </p>
                        <p><strong>Fallera Major Infantil: </strong> </p>
                    </div>
                </div>
             </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    created(){
        window.scrollTo(0, 0);
    }
}
</script>