<template>
    <b-container class="page-wrapper my-5">
        
        <h1 class="text-center">Descàrregues</h1>
        

        <hr>
        <b-list-group class="pt-5">
            <b-list-group-item v-for="(item, key) in items" :key="key" :href="item.enlace" class="d-flex justify-content-between align-items-center">
                <span><font-awesome-icon :icon="item.icon" class="mr-md-5" color="red"/>{{item.titulo}}</span>
                <b-badge variant="primary" pill v-if="item.descargas > 0">   {{item.descargas}} </b-badge>
            </b-list-group-item>    
        </b-list-group>

        

 
    </b-container>
</template>

<script>
export default {
    data:() => ({
        items: [
            {titulo: 'Presentació  Falla Plaça Buenos Aires 2018 (Disponible fins el 18 de Maig 2020)', descargas: 0, enlace: '#', icon: 'film'},
            {titulo: "Autorització Disminució d'edats d'ús d'artificis", descargas: 27, enlace: '#', icon: 'file-pdf'},
            {titulo: 'Reglamente Protocol·lari Falla Plaça Buenos Aires', descargas: 51, enlace: '#', icon: 'file-pdf'},
            {titulo: 'Menú Setmana Fallera 2020', descargas: 133, enlace: '#', icon: 'file-pdf'},
            {titulo: 'Calendari Faller 2019_2020', descargas: 257, enlace: '#', icon: 'file-pdf'},
            {titulo: 'AUTORITZACIÓ PARES Formació CRE menors 18 anys', descargas: 27, enlace: '#', icon: 'file-pdf'},
        ]
    }),
    created(){
        window.scrollTo(0, 0);
    }
}
</script>

<style lang="scss" scoped>
    @media (max-width: 767px) {
        svg{
            margin-right: 10px;
        }
    }
</style>