<template>
    <b-container class="page-wrapper my-5">

        <h1 class="text-center">Esdeveniments</h1>

        <hr>

        <div class="d-flex justify-content-between py-3">
           
                <b-btn @click="today" variant="primary">Hui</b-btn>
            
                <b-btn-group>
                    <b-btn @click="changeView('dayGridMonth')" variant="primary" :class="[vista == 'dayGridMonth' ? 'active' : '']">Mes</b-btn>
                    <b-btn @click="changeView('timeGridWeek')" variant="primary" :class="[vista == 'timeGridWeek' ? 'active' : '']">Setmana</b-btn>
                    <b-btn @click="changeView('timeGridDay')" variant="primary" :class="[vista == 'timeGridDay' ? 'active' : '']">Dia</b-btn>
                </b-btn-group>
           
        </div>
        <div class='demo-app'>
            <FullCalendar
            class='demo-app-calendar'
            ref="fullCalendar"
            :views="views" 
            defaultView="timeGridWeek"
            :header="header"
            :aspectRatio="aspectRatio"
            :allDaySlot='false'
            :firstDay="1"
            :themeSystem="themeSystem"
            :bootstrapFontAwesome="bootstrapFontAwesome"
            :scrollTime="scrollTime"
	        :slotDuration="slotDuration"
            :slotEventOverlap="slotEventOverlap"
            :slotLabelFormat="slotLabelFormat"
            :locale="locale"
            :timeZone="timeZone"
            :defaultDate="defaultDate"
            :plugins="calendarPlugins"
            :weekends="weekends"
            :events="calendarEvents"
            @eventRender="eventRender"
            :buttonText="buttonText"
            :buttonIcons="buttonIcons"
            :nextDayThreshold="nextDayThreshold"
            :editable="editable"
            :droppable="droppable"
            :height="650"
            :columnHeaderFormat="columnHeaderFormat2"
            />
        </div>

    </b-container>
</template>


<script>
    /*
    weekday:    'long' will produce something like Wednesday
                'short' will produce something like Wed
                'narrow' will produce something like W

    year	    'numeric' will produce something like 2018
                2-digit' will produce something like 18

    month	    'long' will produce something like September
                'short' will produce something like Sep
                'narrow' will produce something like S
                'numeric' will produce something like 1
                '2-digit' will produce something like 01
    
    day         The day of the month. If the date were Jun 3, 2018
                'numeric' will produce something like 3
                '2-digit' will produce something like 03

    */
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import bootstrapPlugin from '@fullcalendar/bootstrap';
import momentPlugin from '@fullcalendar/moment';
import isMobile from '../../utils/isMobile.js';

export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data: () => ({
    vista: 'timeGridWeek',
    views: {
        dayGrid: {
            //titleFormat: { year: 'numeric', month: 'long', day: '2-digit' }
        },
        timeGrid: {
            //titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
        },
        week: {
           titleFormat: {month: 'short', day: 'numeric'}, //vista semana
           //titleFormat: '[Hello, World!]'
        },
        day: {
            titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
        },

        month: {
            titleFormat: { month: 'long'}
        }
    },
    

    header: {
        left: 'prev',
        center: 'title',
        right: 'next'
    },
    
    //dayGridMonth,timeGridWeek,timeGridDay 
    firstDay: 1,

    buttonText: {
        month: 'Mes',
        week: 'Setmana',
        day: 'Día',
        today: 'Hui',   
        list: 'Llista',
    },
    buttonIcons: {
        prev: 'left-single-arrow',
        next: 'right-single-arrow',
        prevYear: 'left-double-arrow',
        nextYear: 'right-double-arrow'
    },
    
    scrollTime: moment().format('k:mm:ss'),
    eventTimeFormat: {
        hour: 'numeric',
        minute: '2-digit',
        meridiem: false
    },
    timeZone: 'local',
    defaultDate: new Date(),

    slotLabelFormat:{
        hour: 'numeric',
        minute: '2-digit',
        meridiem: false
    },
    slotDuration: '00:30:00',
    slotEventOverlap: false,

    eventTextColor: '#F66D9C',
    eventColor: '#343a40',
    nextDayThreshold: '09:00:00', //Cuando la hora de finalización de un evento se extiende a otro día, el tiempo mínimo debe ser para que se procese como si fuera ese día.
    weekends: true,
    //columnHeaderFormat2: {weekday : 'long'},
    themeSystem: 'bootstrap',
    bootstrapFontAwesome: {
        close: 'fa-times',
        prev: 'fa-chevron-left',
        next: 'fa-chevron-right',
        prevYear: 'fa-angle-double-left',
        nextYear: 'fa-angle-double-right'
    },

    droppable: false,
    editable: false,
    locale: 'cat',
    aspectRatio: 2,
    
    calendarPlugins: [ // plugins must be defined in the JS
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin, // needed for dateClick
        bootstrapPlugin,
        momentPlugin,
    ],
    calendarEvents: [ // initial event data
        { 
            title: 'Event Passat', 
            start: moment().add(-1, 'day').format('YYYY-MM-DD HH:mm:ss'),
            end: moment().add(-23,'hour').format('YYYY-MM-DD HH:mm:ss'),
        },
        {
            title: 'Event now',
            start: moment().format('YYYY-MM-DD k:mm:ss'),
            end: moment().add(10,'hour').format('YYYY-MM-DD HH:mm:ss'),
        },
        { 
            title: 'Event Futur', 
            start: moment().add(1, 'day').format('YYYY-MM-DD HH:mm:ss'),
            end: moment().add(25,'hour').format('YYYY-MM-DD HH:mm:ss'),
        },
    ],
    vistaDia: '',

    }),
    created(){
        this.$nextTick( () => {
            window.addEventListener('resize', this.columnHeaderFormat);
        });
        
        window.scrollTo(0, 0);
    
        
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.columnHeaderFormat);
    },

    computed:{
        calendarApi(){
            return this.$refs.fullCalendar.getApi();
        },
        appWidth(){
            return document.getElementById('app');
        },
        columnHeaderFormat2:{
            set(format){
               this.vistaDia = this.vista == 'timeGridDay' ? {weekday : 'long'} : format;
            },
            get(){
                return this.vistaDia;
            }
       }
        
    },
    mounted(){
        this.columnHeaderFormat();
        this.calendarApi.rerenderEvents();
    },
    methods: {
        columnHeaderFormat(event) {
            
            this.columnHeaderFormat2 = {weekday : this.appWidth.clientWidth < 750 ? 'short' : 'long'};
        },

        today(){
          this.calendarApi.today();
        },

        changeView(view){
            this.vista = view;
            view == 'timeGridDay' ? this.columnHeaderFormat2 = {weekday : 'long'} : this.columnHeaderFormat() ;
            this.calendarApi.changeView(view)
        },

        eventRender(info) {
            /*$(info.el).tooltip({
                title: info.event.title,
                html: true,
                placement: 'top',
                trigger: 'hover',
                container: 'body'              
            });*/
            
            $(info.el).popover({
                title: `<strong>${info.event.title}</strong>`,
                content: `<em>${moment(info.event.start).format('DD-mm-YY')}<em>`,
                html: true,
                placement: 'top',
                trigger: 'hover',
                container: 'body',
            });
           
        },
        
        handleDateClick(arg) {
            if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                this.calendarEvents.push({ // add new event data
                title: 'New Event',
                start: arg.date,
                allDay: arg.allDay
            })
        }
    }
  }
}


</script>

<style lang='scss'>
@import '~@/abstracts/_variables.scss';

.fc-day-header, .fc-axis{
    background: $dark;
    color: $primary;
}

@media (max-width: 499px) {
    .fc-center h2{
        font-size: 1.1rem;
    }
}



</style>
