<template>
    <div class="container-fluid home">

       <Comision />

        <!--Paralax/-->

        <b-row class="justify-content-center">
            <b-col sm="12" lg="7">
                <Eventos/>
            </b-col>
            
            <b-col sm="12" lg="3">
                <Noticias />
            </b-col>
        </b-row>
       
    
        <Owl-carousel :images="imagesCarrousel" :nav="false" :items="items"/>


    </div>

    
</template>
<script>
  import OwlCarousel from '../../components/web/OwlCarousel.vue'
  import Paralax from '../../components/web/Paralax.vue'
  import Header from '../../components/web/Header.vue'
  import Noticias from '../../components/web/Noticias.vue'
  import Comision from '../../components/web/Comision.vue'
  import Eventos from '../../components/web/Eventos.vue'

export default {
    components: { 
        OwlCarousel,
        Paralax,
        Comision,
        Eventos,
        Noticias,
        Header,
    },
    data: () => ({
        imagesCarrousel: [
            "/img/patrocinadores/barraca.jpg",
            "/img/patrocinadores/casti.jpg",
            "/img/patrocinadores/joc_de_trons.jpg",
            "/img/patrocinadores/mercat_alaquas.png",
            "/img/patrocinadores/san_fran.jpg",
            "/img/patrocinadores/solo_munecas.jpg",
        ]
    }),
    created(){
        window.scrollTo(0, 0);
    },

    computed:{
        items(){
            return this.$isMobile ? 2 : 5;
        }
    }
}
</script>
<style lang="scss">

@import '~@/abstracts/_variables.scss';

.home{

    
    .item{
        position: relative;
        z-index: 2;
        height: 200px;
        border-radius: 50%;
        font-size: 30px;
        background: #BAB4B4;
        background-size: cover;
        opacity: 0.7;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
            &:hover{
            opacity: 0;
            font-size: 0;
        }
    }
    #spn-3{
        position: relative;
        top: 50px;
        left: 40%;
        color: black;
        border: 1px solid;
        padding: 20px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all ease 1s;
        &:hover{
            background-color: #D0BA86;
        }
    }

    .card, .nav-pills{
        border: 0;
        
    }

    h1,h2,h3,h4 {
    font-family: "Sura", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

    

    main, aside, footer {
        padding-top: 60px;
        padding-bottom: 40px; 
    }

    .clientes {
        margin-top: 40px;  
    }
    .clientes > div {
        margin-bottom: 40px;
        text-align: center;
    }

    

    /* Media Queries */
    @media only screen and (min-width: 33.9em) {}
    @media only screen and (min-width: 47.9em) {
    body {
        padding-top: 0
    }
    .navbar-light {
        background: rgba(192,192,192,0.3);  
    }
    .navbar-light:hover {
        background: rgba(192,192,192,0.7);  
    }
    
    }
    @media only screen and (min-width: 61.9em) {}
    @media only screen and (min-width: 74.9em) {}

    @media (max-width: 767px) {
    
        #quotetext {
            width: 300px;
            height: 100px;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -150px;
        
        }
}




}

</style>