<template>
    <b-container fluid class="page-wrapper my-5">

        <h1 class="text-center">Llibrets</h1>
    
        <hr>
    
        <b-row v-if="!$isMobile">
            <b-col sm="12" md="3">
                <b-card-group class="my-3" deck>
                    <b-card v-for="(llibret, key) in llibrets" :key="key" no-body style="max-width: 140px;" class="mx-1 text-center" text-variant="white" header="Primary">
                        <template v-slot:header>
                            <h4 class="mb-0 text-center"> {{llibret.name}} </h4>
                        </template>
                        <b-card-text>
                            <router-link :to="{ name: 'llibret', params: { llibret: llibret.name } }" class="text-decoration-none">
                                <canvas :id="`hoja-${llibret.name}`" class="img-thumbnail"></canvas>
                            </router-link>
                        </b-card-text>
                    </b-card>
                </b-card-group>
            </b-col>
            <b-col>
                <router-view></router-view>
            </b-col>
        </b-row>
        <b-row class="justify-content-center" v-else>
            <b-col v-for="(llibret, key) in llibrets" :key="key" align-self="center">
                <b-btn @click="downloadItem(llibret.name)" :id="`download-${key}`"> {{ llibret.name }} </b-btn>
                <b-tooltip :target="`download-${key}`" title="Descargarregar"></b-tooltip>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import Llibret from '../../components/web/Llibret.vue'

export default {
    components:{
        Llibret
    },

    data: () => ({
        llibrets: [{name: 2017},{name: 2018}, {name: 2019}],
        show : false,
        compo: '',
        folder: 'llibrets'
    }),

    mounted(){
        
        if(!this.$isMobile && this.llibrets.length ){
            
            for(let i = 0; i < 3; i++){
                this.cargarCatalogo(`${this.folder}/${this.llibrets[i].name}.pdf`, this.llibrets[i].name)
            }
        }
    },

    created(){
        window.scrollTo(0, 0);
    },


    computed:{
        
    },
    methods:{
        cargarCatalogo(file, name){
            const me = this;
            PDFJS.disableWorker = true;

            PDFJS.getDocument(file).then( doc => {

                var pageNumber = 1;                                
                let scale = 1.5;
                let viewport = null;
                let renderContext = [];
                
                let hoja = document.getElementById(`hoja-${name}`);

                doc.getPage(pageNumber).then( page => {

                    viewport = page.getViewport(scale);
                    hoja.height = viewport.height;
                    hoja.width = viewport.width;

                    renderContext = {
                        canvasContext: hoja.getContext('2d'),
                        viewport: viewport
                    };

                    page.render(renderContext);
                });

            });
        },
        
        downloadItem(name) {
            this.$store.dispatch('getDownload',{name: name, folder: this.folder});
        },

    }
}
</script>

<style lang="scss" scoped>
@import '~@/abstracts/_variables.scss';
    .card{
        border: none!important;
    }

    .card-header{
        background-color: $secondary;
    }
</style>