<template>
    <b-container fluid class="page-wrapper my-5">
        <h1 class="text-center">El Racó d’articles</h1>
        <hr>

        <!--Paginate :pagination="pagination" @pagina="getItems" class="py-2"></Paginate-->

        <b-row>
            <b-col sm="12" md="6" lg="3" xl="3" v-for="(item, key) in noticias" :key="key" class="d-flex justify-content-center align-items-stretch">
                <Noticia :noticia="item"/>
            </b-col>
        </b-row>

        
        
        
        
    </b-container>
</template>

<script>
import Noticia from '../../components/global/NoticiaCard.vue'
import Paginate from '../../components/global/Paginate.vue';

export default {
    components: {
      Noticia,
      Paginate,
    },

    data: () => ({
        noticias: [
            {id: 1, titulo: 'Titulo 1', autor:'autor 1', enlance: '#', contenido: `
            <p>Vestibulum blandit ipsum non odio malesuada lacinia. Etiam varius dapibus faucibus. Aenean elementum scelerisque odio, et mattis dolor pulvinar sed. Nam vitae elit sed magna congue placerat. Morbi dignissim ex et placerat mattis. Phasellus dictum aliquet est, nec scelerisque nunc porttitor dapibus. Suspendisse mauris velit, luctus at tellus lobortis, posuere tristique quam. Etiam sed sem et nisi viverra eleifend. Phasellus bibendum tortor justo, et sodales leo congue quis. Sed quis consequat diam, in vestibulum justo.</p>
            <p>Integer at consequat dolor. Curabitur ut libero non sapien consectetur faucibus. Cras dapibus mattis mi nec efficitur. Nullam venenatis molestie augue id vulputate. Sed accumsan neque mi, nec egestas nisi euismod quis. Quisque eu semper nunc, vel fringilla nisl. Morbi eget porttitor lorem, condimentum cursus elit. Sed nulla eros, blandit ac quam eu, lobortis molestie sem. Fusce egestas vitae ipsum at posuere. Sed vulputate, magna ac venenatis dictum, mi felis accumsan nulla, eget consectetur lectus est id neque. Sed scelerisque odio vel luctus pellentesque. Cras pretium suscipit elementum. In a auctor ligula. Curabitur imperdiet, odio at viverra ornare, mi massa luctus enim, non luctus purus est ut ligula. Phasellus vulputate elementum tortor, in laoreet diam tempor sodales. Nunc imperdiet turpis velit, ut consequat magna vestibulum ut.</p>
            <p>Curabitur lobortis mauris est, et mollis lectus sollicitudin quis. Sed luctus ipsum id enim scelerisque molestie. In vitae tincidunt mauris. In mi justo, rhoncus at urna vitae, mattis lacinia diam. Curabitur nec velit aliquam, luctus arcu malesuada, dignissim elit. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed sit amet quam ac massa fringilla hendrerit. Cras nec lacus tellus.</p>
            <p>Donec vestibulum diam quis ultrices tincidunt. Vivamus non rutrum turpis. Vivamus egestas purus elit, ut fermentum nibh rutrum a. Duis feugiat nibh ut nulla ullamcorper faucibus. Donec mollis, ex pulvinar porttitor sodales, est purus maximus felis, ut placerat velit purus vitae purus. Morbi urna velit, ultrices et orci eget, accumsan semper nulla. Nunc porttitor magna eget quam lacinia, vitae bibendum nisl ultricies. Integer tempus felis nec porta feugiat. Quisque a arcu arcu.</p>
            <p>Quisque pellentesque ut libero in tempor. Aenean auctor lacinia elit. Cras placerat pellentesque enim vel sagittis. Sed accumsan vitae felis ac ultrices. Pellentesque lobortis mattis mollis. Cras vehicula turpis quis arcu rhoncus ultrices. Maecenas dignissim auctor porta. Sed tincidunt dolor id augue accumsan laoreet. Nulla vel urna porta sem hendrerit aliquet ut ac neque. Phasellus ut est eget odio dignissim fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec orci turpis, finibus quis iaculis sed, efficitur vitae sem.</p>
            `, imagen:"https://picsum.photos/600/300", origen: 'Article Publicat en el Llibret de la Falla ....'},
            {id: 2, titulo: 'Titulo 2', autor:'autor 2', enlance: '#', contenido: '222', imagen:"https://picsum.photos/600/300", contenido: `
            <p>Vestibulum blandit ipsum non odio malesuada lacinia. Etiam varius dapibus faucibus. Aenean elementum scelerisque odio, et mattis dolor pulvinar sed. Nam vitae elit sed magna congue placerat. Morbi dignissim ex et placerat mattis. Phasellus dictum aliquet est, nec scelerisque nunc porttitor dapibus. Suspendisse mauris velit, luctus at tellus lobortis, posuere tristique quam. Etiam sed sem et nisi viverra eleifend. Phasellus bibendum tortor justo, et sodales leo congue quis. Sed quis consequat diam, in vestibulum justo.</p>
            <p>Integer at consequat dolor. Curabitur ut libero non sapien consectetur faucibus. Cras dapibus mattis mi nec efficitur. Nullam venenatis molestie augue id vulputate. Sed accumsan neque mi, nec egestas nisi euismod quis. Quisque eu semper nunc, vel fringilla nisl. Morbi eget porttitor lorem, condimentum cursus elit. Sed nulla eros, blandit ac quam eu, lobortis molestie sem. Fusce egestas vitae ipsum at posuere. Sed vulputate, magna ac venenatis dictum, mi felis accumsan nulla, eget consectetur lectus est id neque. Sed scelerisque odio vel luctus pellentesque. Cras pretium suscipit elementum. In a auctor ligula. Curabitur imperdiet, odio at viverra ornare, mi massa luctus enim, non luctus purus est ut ligula. Phasellus vulputate elementum tortor, in laoreet diam tempor sodales. Nunc imperdiet turpis velit, ut consequat magna vestibulum ut.</p>
            <p>Curabitur lobortis mauris est, et mollis lectus sollicitudin quis. Sed luctus ipsum id enim scelerisque molestie. In vitae tincidunt mauris. In mi justo, rhoncus at urna vitae, mattis lacinia diam. Curabitur nec velit aliquam, luctus arcu malesuada, dignissim elit. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed sit amet quam ac massa fringilla hendrerit. Cras nec lacus tellus.</p>
            <p>Donec vestibulum diam quis ultrices tincidunt. Vivamus non rutrum turpis. Vivamus egestas purus elit, ut fermentum nibh rutrum a. Duis feugiat nibh ut nulla ullamcorper faucibus. Donec mollis, ex pulvinar porttitor sodales, est purus maximus felis, ut placerat velit purus vitae purus. Morbi urna velit, ultrices et orci eget, accumsan semper nulla. Nunc porttitor magna eget quam lacinia, vitae bibendum nisl ultricies. Integer tempus felis nec porta feugiat. Quisque a arcu arcu.</p>
            <p>Quisque pellentesque ut libero in tempor. Aenean auctor lacinia elit. Cras placerat pellentesque enim vel sagittis. Sed accumsan vitae felis ac ultrices. Pellentesque lobortis mattis mollis. Cras vehicula turpis quis arcu rhoncus ultrices. Maecenas dignissim auctor porta. Sed tincidunt dolor id augue accumsan laoreet. Nulla vel urna porta sem hendrerit aliquet ut ac neque. Phasellus ut est eget odio dignissim fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec orci turpis, finibus quis iaculis sed, efficitur vitae sem.</p>
            `, imagen:"https://picsum.photos/600/300", origen: 'Article Publicat en el Llibret de la Falla ....'},
            {id: 3, titulo: 'Titulo 3', autor:'autor 3', enlance: '#', contenido: '333', imagen:"https://picsum.photos/600/300", contenido: `
            <p>Vestibulum blandit ipsum non odio malesuada lacinia. Etiam varius dapibus faucibus. Aenean elementum scelerisque odio, et mattis dolor pulvinar sed. Nam vitae elit sed magna congue placerat. Morbi dignissim ex et placerat mattis. Phasellus dictum aliquet est, nec scelerisque nunc porttitor dapibus. Suspendisse mauris velit, luctus at tellus lobortis, posuere tristique quam. Etiam sed sem et nisi viverra eleifend. Phasellus bibendum tortor justo, et sodales leo congue quis. Sed quis consequat diam, in vestibulum justo.</p>
            <p>Integer at consequat dolor. Curabitur ut libero non sapien consectetur faucibus. Cras dapibus mattis mi nec efficitur. Nullam venenatis molestie augue id vulputate. Sed accumsan neque mi, nec egestas nisi euismod quis. Quisque eu semper nunc, vel fringilla nisl. Morbi eget porttitor lorem, condimentum cursus elit. Sed nulla eros, blandit ac quam eu, lobortis molestie sem. Fusce egestas vitae ipsum at posuere. Sed vulputate, magna ac venenatis dictum, mi felis accumsan nulla, eget consectetur lectus est id neque. Sed scelerisque odio vel luctus pellentesque. Cras pretium suscipit elementum. In a auctor ligula. Curabitur imperdiet, odio at viverra ornare, mi massa luctus enim, non luctus purus est ut ligula. Phasellus vulputate elementum tortor, in laoreet diam tempor sodales. Nunc imperdiet turpis velit, ut consequat magna vestibulum ut.</p>
            <p>Curabitur lobortis mauris est, et mollis lectus sollicitudin quis. Sed luctus ipsum id enim scelerisque molestie. In vitae tincidunt mauris. In mi justo, rhoncus at urna vitae, mattis lacinia diam. Curabitur nec velit aliquam, luctus arcu malesuada, dignissim elit. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed sit amet quam ac massa fringilla hendrerit. Cras nec lacus tellus.</p>
            <p>Donec vestibulum diam quis ultrices tincidunt. Vivamus non rutrum turpis. Vivamus egestas purus elit, ut fermentum nibh rutrum a. Duis feugiat nibh ut nulla ullamcorper faucibus. Donec mollis, ex pulvinar porttitor sodales, est purus maximus felis, ut placerat velit purus vitae purus. Morbi urna velit, ultrices et orci eget, accumsan semper nulla. Nunc porttitor magna eget quam lacinia, vitae bibendum nisl ultricies. Integer tempus felis nec porta feugiat. Quisque a arcu arcu.</p>
            <p>Quisque pellentesque ut libero in tempor. Aenean auctor lacinia elit. Cras placerat pellentesque enim vel sagittis. Sed accumsan vitae felis ac ultrices. Pellentesque lobortis mattis mollis. Cras vehicula turpis quis arcu rhoncus ultrices. Maecenas dignissim auctor porta. Sed tincidunt dolor id augue accumsan laoreet. Nulla vel urna porta sem hendrerit aliquet ut ac neque. Phasellus ut est eget odio dignissim fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec orci turpis, finibus quis iaculis sed, efficitur vitae sem.</p>
            `, imagen:"https://picsum.photos/600/300", origen: 'Article Publicat en el Llibret de la Falla ....'},
            {id: 4, titulo: 'Titulo 4', autor:'autor 4', enlance: '#', contenido: '444', imagen:"https://picsum.photos/600/300", contenido: `
            <p>Vestibulum blandit ipsum non odio malesuada lacinia. Etiam varius dapibus faucibus. Aenean elementum scelerisque odio, et mattis dolor pulvinar sed. Nam vitae elit sed magna congue placerat. Morbi dignissim ex et placerat mattis. Phasellus dictum aliquet est, nec scelerisque nunc porttitor dapibus. Suspendisse mauris velit, luctus at tellus lobortis, posuere tristique quam. Etiam sed sem et nisi viverra eleifend. Phasellus bibendum tortor justo, et sodales leo congue quis. Sed quis consequat diam, in vestibulum justo.</p>
            <p>Integer at consequat dolor. Curabitur ut libero non sapien consectetur faucibus. Cras dapibus mattis mi nec efficitur. Nullam venenatis molestie augue id vulputate. Sed accumsan neque mi, nec egestas nisi euismod quis. Quisque eu semper nunc, vel fringilla nisl. Morbi eget porttitor lorem, condimentum cursus elit. Sed nulla eros, blandit ac quam eu, lobortis molestie sem. Fusce egestas vitae ipsum at posuere. Sed vulputate, magna ac venenatis dictum, mi felis accumsan nulla, eget consectetur lectus est id neque. Sed scelerisque odio vel luctus pellentesque. Cras pretium suscipit elementum. In a auctor ligula. Curabitur imperdiet, odio at viverra ornare, mi massa luctus enim, non luctus purus est ut ligula. Phasellus vulputate elementum tortor, in laoreet diam tempor sodales. Nunc imperdiet turpis velit, ut consequat magna vestibulum ut.</p>
            <p>Curabitur lobortis mauris est, et mollis lectus sollicitudin quis. Sed luctus ipsum id enim scelerisque molestie. In vitae tincidunt mauris. In mi justo, rhoncus at urna vitae, mattis lacinia diam. Curabitur nec velit aliquam, luctus arcu malesuada, dignissim elit. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed sit amet quam ac massa fringilla hendrerit. Cras nec lacus tellus.</p>
            <p>Donec vestibulum diam quis ultrices tincidunt. Vivamus non rutrum turpis. Vivamus egestas purus elit, ut fermentum nibh rutrum a. Duis feugiat nibh ut nulla ullamcorper faucibus. Donec mollis, ex pulvinar porttitor sodales, est purus maximus felis, ut placerat velit purus vitae purus. Morbi urna velit, ultrices et orci eget, accumsan semper nulla. Nunc porttitor magna eget quam lacinia, vitae bibendum nisl ultricies. Integer tempus felis nec porta feugiat. Quisque a arcu arcu.</p>
            <p>Quisque pellentesque ut libero in tempor. Aenean auctor lacinia elit. Cras placerat pellentesque enim vel sagittis. Sed accumsan vitae felis ac ultrices. Pellentesque lobortis mattis mollis. Cras vehicula turpis quis arcu rhoncus ultrices. Maecenas dignissim auctor porta. Sed tincidunt dolor id augue accumsan laoreet. Nulla vel urna porta sem hendrerit aliquet ut ac neque. Phasellus ut est eget odio dignissim fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec orci turpis, finibus quis iaculis sed, efficitur vitae sem.</p>
            `, imagen:"https://picsum.photos/600/300", origen: 'Article Publicat en el Llibret de la Falla ....'},
        ],
    })
}
</script>