<template>
    <b-container fluid class="page-wrapper my-5">
        
        <h1 class="text-center">Qui som?</h1>
        
        <hr>
        
        <b-card>
            <b-card-text>
                <p class="clearfix"></p>
                <imageRandomPosition :imagen="'/img/nosotros/falla-plaza-buenos-aires.jpg'"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas lacinia malesuada. Aliquam id erat felis. Nullam non sem est. Aliquam aliquet leo sed dolor dictum, ac mattis odio consequat. In at condimentum nibh, a finibus justo. Phasellus at lorem id felis posuere interdum. Praesent ultricies nibh vitae lacus tempor, quis tempor magna suscipit. Maecenas quis dolor iaculis, ultricies erat non, vulputate velit. In hac habitasse platea dictumst. Phasellus sed imperdiet nibh. Phasellus condimentum pharetra interdum. Fusce vitae lorem maximus, consequat nulla sed, congue arcu. Aenean iaculis dapibus ipsum eu accumsan. Morbi ut interdum lectus. Nam vehicula risus vel fermentum scelerisque. Curabitur sagittis dictum ipsum, nec molestie urna mattis et.</p>
                <p>Nam at mauris ut dui pellentesque vestibulum. Ut varius elit leo, fringilla aliquam enim feugiat eu. Aenean bibendum quam sed faucibus hendrerit. Quisque mollis, metus nec molestie laoreet, tellus tellus sollicitudin mi, nec aliquet purus nulla ut massa. Nam tincidunt nibh vitae metus congue, a venenatis nisl convallis. Phasellus scelerisque id metus et consectetur. Quisque semper luctus nunc at rutrum.</p>
                <p class="clearfix"></p>
                <imageRandomPosition :imagen="getImageUrl(80)"/>
                <p>Vivamus accumsan purus non est rutrum accumsan. Nullam quis suscipit nulla, quis posuere sem. Donec vitae erat ac lectus volutpat ultricies. Curabitur mattis sit amet felis eget mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum est eros, in elementum ipsum ullamcorper ac. Morbi at quam porttitor, venenatis sem id, mollis lectus. Nullam placerat nisi velit, sit amet mattis augue vehicula vitae. Phasellus eu risus nec ex tristique pellentesque non in dui. Maecenas pharetra consequat metus, ac ultrices turpis vestibulum et. Morbi id rhoncus augue. Mauris interdum ac libero nec accumsan. Fusce eget mollis neque. Morbi eget magna blandit, aliquam lectus eu, vehicula tortor. Etiam sodales a ligula vitae sodales. In in leo neque.</p>
                <p>Integer ut tempor neque, nec semper libero. Phasellus rhoncus magna vel purus laoreet, id dignissim mi rutrum. Integer sit amet lacus hendrerit, euismod urna et, lobortis erat. In et lacus laoreet, ullamcorper arcu at, auctor ipsum. Proin eleifend in nisl sit amet scelerisque. Morbi venenatis tristique urna nec porttitor. Maecenas orci ligula, facilisis vitae nibh sed, viverra rutrum dolor. Pellentesque blandit, nisi eget cursus consequat, orci sem commodo nibh, ac maximus tellus lacus nec nulla. Praesent efficitur dignissim risus, vitae sodales urna commodo at. Duis et erat mi. Aenean tincidunt felis feugiat commodo sagittis. Aenean quis magna quis enim sollicitudin luctus gravida malesuada ex.</p>
                <p>Nullam diam erat, euismod a varius a, aliquam sed massa. Phasellus id leo mollis, tristique dolor vel, molestie nisl. Aliquam facilisis finibus nisl, at sagittis arcu aliquet et. Nulla at neque nisl. Sed pulvinar nulla tortor, eget ornare eros hendrerit vitae. Sed a justo neque. Sed a enim eget elit lobortis tempor ut ut odio. Proin dignissim tristique urna, ac porttitor arcu consequat vitae. Etiam tortor orci, lacinia aliquet neque nec, convallis dapibus turpis. Sed interdum ipsum in mi consectetur viverra. Cras sed purus vel dui porta dapibus. Curabitur viverra turpis et lacus fermentum, quis fermentum odio sollicitudin. Fusce sodales vehicula lobortis. Donec consectetur ultrices lectus non molestie.</p>
            </b-card-text>

            <p class="clearfix"></p>
            <hr class="short my-5">
            <b-card-text>
                <h3>On estem?</h3>
                <b-row>
                    <b-col sm="12" md="3" order-sm="2" order-md="1" offset-md="1" align-self="center">
                        <h5>Falla Plaça Buenos Aires</h5>
                        <p>Carrer Caixa d'Estalvis Valen nº1 
                        <br>
                        46970 - Alaquàs (València)</p>
                    </b-col>
                    <b-col sm="12" md="8" order-sm="1" order-md="2" class="d-flex justify-content-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d457.92464579168904!2d-0.45102058765493963!3d39.45718331205256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0xd6050277782f055%3A0x4291443a8ec7ddf9!2sFalla%20Pla%C3%A7a%20Buenos%20Aires%2C%20Carrer%20Caixa%20d&#39;Estalvis%20Valen%2C%201%2C%2046970%20Alaqu%C3%A0s%2C%20Val%C3%A8ncia!3m2!1d39.457257!2d-0.4508559!4m0!5e0!3m2!1ses!2ses!4v1568196987350!5m2!1ses!2ses" 
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                        </iframe>
                    </b-col>
            
                </b-row>
            </b-card-text>
        </b-card>
        
    </b-container>
</template>

<script>

import imageRandomPosition from '../../components/global/ImagePosRandom.vue'

export default {
    components: {
        imageRandomPosition
    },
    data: () => ({
        
    }),    

    methods: {
      getImageUrl(imageId) {
        //const { width, height } = this.mainProps;
        return `https://picsum.photos/200/200/?image=${imageId}`
      },
      
    }
}
</script>

<style lang="scss" scoped>
    .card-text{
        padding: 0 50px;
    }

@media (max-width: 500px) {
    .card-text img{
        margin: 10px auto!important;
        display: block;
        width: 100%;
    }
    .card-text{
        padding: 0;
    }
}
  
    
</style>