<template>
    <b-container class="pt-5">
        <b-card tag="article" class="mb-2">
            <b-card-header class="text-center align-middle mb-2" v-if="isNew">
                <h2>Alta nueva</h2>
            </b-card-header>
            <b-card-text>
                <b-row class="pb-2" v-show="!isNew">
                    <b-col>
                        <b-btn variant="link" @click="isEdit = !isEdit" v-if="user.permission <= permission">
                            <font-awesome-icon class="ml-0" icon="edit"/>
                        </b-btn>
                        <b-btn variant="link" v-show="isEdit" @click="chgPass()" title="¿Cambiar contraseña?" :id="`user-button-${user.id}`">
                            <font-awesome-icon class="ml-0" icon="key"/>
                        </b-btn>
                        <b-tooltip :target="`user-button-${user.id}`" title="¿Cambiar contraseña?"></b-tooltip>
                        <div v-if="user.online == 0">
                            <span> Ultima conexión {{user.last_conection}}</span>
                        </div>
                        <div v-if="user.online == null">
                            <span> Ultima conexión nunca</span>
                        </div>
                    </b-col>

                    <b-col>
                        <span :style="{ color: logged == 'user' ? 'green': 'red' }" class="float-right" :id="`user-span-${user.id}`">
                            <font-awesome-icon class="m-auto" :icon="logged" size="3x"/>
                        </span>
                        <b-tooltip :target="`user-span-${user.id}`" :title="textLogged"></b-tooltip>
                    </b-col>
                </b-row>
                
                <b-form @submit="onSubmit" v-if="show">
                    <b-form-group>
                        <b-input-group>
                            <b-input-group-text slot="prepend">
                                <font-awesome-icon class="m-auto" icon="user"/>
                            </b-input-group-text>
                            <b-input v-if="(isEdit || isNew) && user.permission <= permission" type="text" v-model='user.name' placeholder="Nombre del usuario" 
                                :state="validarNombre(user.name)" :formatter="nameFormat" trim required/>
                            <b-form-invalid-feedback v-if="(isEdit || isNew) && user.permission <= permission" id="name-feedback">
                                {{ errores['name'] ? errores['name'] : ''}}
                            </b-form-invalid-feedback>
                            <span v-else class="form-control form-control-plaintext" v-text='user.name'/>
                        </b-input-group>
                    </b-form-group>
                    
                    <b-row v-if="(isNew || isPass) && user.permission <= permission">
                        <b-col>
                            <b-form-group :description="helpPass">
                                <b-input-group>
                                    <b-input-group-text slot="prepend">
                                        <font-awesome-icon class="m-auto" icon="key"/>
                                    </b-input-group-text>
                                    <b-input :type="verPass ? 'text' : 'password'" v-model="user.password" placeholder="Contraseña" :state="validarPassword(user.password)" required/>
                                    <b-input-group-append>
                                        <b-btn @click="verPass = !verPass">
                                            <font-awesome-icon :icon="!verPass ? 'eye' : 'eye-slash'"/>
                                        </b-btn>
                                    </b-input-group-append>

                                    <b-form-invalid-feedback v-if="(isEdit || isNew) && user.permission <= permission" id="password-feedback">
                                        {{ errores['password'] ?  errores['password'][0] :  messages['password'] }}
                                    </b-form-invalid-feedback>
                                    
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group>
                                <b-input-group>
                                    <b-input-group-text slot="prepend">
                                        <font-awesome-icon class="m-auto" icon="key"/>
                                    </b-input-group-text>
                                    <b-input :type="verPass ? 'text' : 'password'" v-model="user.c_password" placeholder="Repetir contraseña" :state="passState" required/>
                                    <b-form-invalid-feedback v-if="(isEdit || isNew) && user.permission <= permission" id="c_password-feedback">
                                        {{ errores['c_password'] ?  errores['c_password'][0] :  messages['c_password'] }}
                                    </b-form-invalid-feedback>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                  
                    <phone :item="item" :editar="(isEdit || isNew) && user.permission <= permission ? true : false" 
                             v-for="(item, key) in user.phones" :key="key" :idx="key" @add="addPhone" @del="delPhone(key)">
                    </phone>
                    
                    <b-form-group>
                        <b-input-group>
                            <b-input-group-text slot="prepend">
                                <font-awesome-icon class="m-auto" icon="envelope"/>
                            </b-input-group-text>
                            <b-input v-if="(isEdit || isNew) && user.permission <= permission" type="email" v-model='user.email' placeholder="Correo-e" 
                            :state="validarMail(user.email)" required/>
                            <b-form-invalid-feedback v-if="(isEdit || isNew) && user.permission <= permission" id="email-feedback">
                                {{ errores['email'] ?  errores['email'][0] :  messages['email'] }}
                            </b-form-invalid-feedback>
                            <span v-else class="form-control form-control-plaintext" v-text='user.email'/>
                        </b-input-group>
                    </b-form-group>

                    <b-form-group>
                        <b-input-group>
                            <b-input-group-text slot="prepend">
                                <font-awesome-icon class="m-auto" icon="user-tag"/>
                            </b-input-group-text>
                            <b-form-select v-if="(isEdit || isNew) && user.permission <= permission" v-model="user.permission">
                                <rolOption v-for="(rol, key) in roles" :key="key" :permission="permission" :value="rol.value" :text="rol.text"/>
                            </b-form-select>
                            <span v-else class="form-control form-control-plaintext">{{ roles[user.permission] ? roles[user.permission].text : ''}}</span>
                        </b-input-group>
                    </b-form-group>

                    
                    <b-form-group v-if="(isEdit || isNew) && user.permission <= permission" >
                        <b-form-radio-group id="active" v-model="user.active">
                            <b-form-radio value="1" :disabled="disabled">Activado</b-form-radio>
                            <b-form-radio value="0" :disabled="disabled">Desactivado</b-form-radio>
                        </b-form-radio-group>
                    </b-form-group>

                    <span class="form-control" style="border: none;" v-else> {{ user.active === 1 ? "Perfil activado" : "Perfil desactivado" }} </span>    
                    
                    <b-form-group class="float-right">   
                        <b-btn variant="outline-secondary" type="submit" v-if="(isEdit || isNew) && user.permission <= permission">{{ isNew ? 'Enviar' : 'Actualizar' }}</b-btn>
                        <b-btn variant="outline-danger" @click="onReset">{{ !isEdit  ? 'Volver' : 'Cancelar' }}</b-btn>
                    </b-form-group>
                </b-form>
            </b-card-text>
        </b-card>
    </b-container>
 </template>

<script>

import config  from '../../../mixins/config.vue';
import validators  from '../../../mixins/validators.vue';
import rolOption from '../../../components/admin/roles/rolOption.vue';
import phone from '../../../components/global/Phone.vue';
export default{
    mixins:[config, validators],
    components:{
        rolOption,
        phone
    },
    data: ()=>({
        helpPass: `La contraseña debe de tener caracteres en mayúscula (A - Z), caracteres en minúscula (a - z), base 10 dígitos (0 - 9) y no alfanumérico (por ejemplo:!, $, # O%)`,
        isEdit: false,
        isNew: false,
        isPass: false,
        verPass: false,
        passState: null,
        show: true,
    }),

    created(){
        this.getUser();
    },

    destroyed(){
        this.user = [];
    },

    watch:{
        'user.email'(newVal, oldVal){
           newVal != oldVal? delete this.errores.email : '';
        },

        'user.password'(newVal, oldVal){
           newVal != oldVal? delete this.errores.password : '';
        },

        'user.c_password'(newVal, oldVal){
           newVal != oldVal? delete this.errores.c_password : '';
        },

        userStatus(val){
            val != 2  && !this.isNew ? '' : this.isEdit = false;
            
        },

        addStatus(value){
            value != 2 ? '' : this.user = {phones: [{phone: '', state: null}], active: 0, permission: 0};
        }
               
    },
    

    computed:{
        user:{
            set(user){
                //user = {name:'Dario', password:'Dario9#', c_password:"Dario9#", phones: [{phone: 961505411}], email:'dario@test.com', active: 0, permission: 0};
                this.$store.commit('setUserActive', user);
            },
            get(){
                return this.$store.getters.getUserActive;
            }
           
        },

        userStatus(){
            return this.$store.getters.getUserActiveLoadStatus;
        },

        addStatus(){
            return this.$store.getters.getUserAddStatus;
        },

        logged(){
            let icono = 'user-alt-slash';
            
            if(this.userStatus == 2 && this.user.online == 1){
               icono = 'user';
            }
            
            return icono;
        },

        textLogged(){
            return this.logged == 'user' ? 'On-line': 'Off-line';
        },

        permission(){
            return this.$store.getters.getUser.permission;
        },
        
    },

    methods:{
        chgPass(){
            this.isPass = !this.isPass;
            delete this.user['password'];
            delete this.user['c_password'];
        },

        addPhone(){
           this.user.phones.push({'phone': ''});
        },

        delPhone(key){
            this.user.phones.splice(key,1);
        },
 
        getUser(){
            if(this.$route.params.id === 'nuevo-usuario'){
                this.isNew = true;
                this.isEdit = false;
                this.user = {phones: [{phone: '', state: null}], active: 0, permission: 0};
                               
            }else{
                this.isNew = false;
                this.$store.dispatch('getUser', {id: this.$route.params.id } );
            }
            
        },
        onSubmit(evt){
            evt.preventDefault()
            
            this.passState = this.validarPass(this.user.password,this.user.c_password);
            //this.phoneState = this.user.phones[0].phone != '' ? this.validarPhones(this.user.phones) : true;
            let phonesPassed = this.user.phones[0].phone != '' ? this.validarPhones(this.user.phones) : true;
            
            if( this.validarNombre(this.user.name) && this.validarEmail(this.user.email) != false && this.passState != false && this.validarPassword(this.user.password) != false && phonesPassed ){
                
                this.isNew ? this.$store.dispatch('newUser', this.user) : this.$store.dispatch('updateUser', this.user);
            }else{
                toastr.options = {
                    "positionClass": "toast-top-center",
                }
                toastr.warning('Revisa los campos en rojo')
            }
            toastr.options = {
                "positionClass": "toast-top-right",
            }
            
           
        },
        onReset(evt) {
            evt.preventDefault()
            this.user = {active: 0, permission: 0};
            this.show = false
            this.$nextTick(() => {
                this.show = true
            });
            this.$router.push({name: 'users'});
        },

    }
    
}

</script>

<style  lang="scss" scoped>

@import '~@/abstracts/_variables.scss';

.input-group-text {
    width: 40px;
}


.card-header{
    background: $primary-color;
    color: $white;
}
</style>