<template>
    <b-container fluid>
        <h1>DASHBOARD</h1>

        <b-card-group>
            <b-card>
               <BarChart :options="config" :data="data" />
            </b-card>

            <b-card>
                <LineChart :chartOptions="config" :chartData="data" />
            </b-card>
        </b-card-group>
    </b-container>
</template>

<script>

import BarChart from '../../components/admin/BarChart.vue'; 
import LineChart from '../../components/admin/LineChart.vue'; 

export default {
    components: {
        BarChart,
        LineChart
    },

    data:() =>({
        config: {responsive: true, maintainAspectRatio: false},
        data:{
            labels: ['2018','2019'],
            datasets: [{
                label: 'Bitcoin',
                backgroundColor: '#FC2525',
                data: [20,40,60,80,100]
            }]
         }
    })
}

</script>