<template>
    <b-container fluid>
        <h1>DASHBOARD</h1>
        <b-row class="d-flex justify-content-between">
            <b-col sm="12" md="4" class="pt-3">
                <b-card>
                   <b-row no-gutters class="text-center">
                        <b-col sm="*" lg="3" xl="6" class="text-lg-left">
                            <font-awesome-icon icon="user-plus" size="3x" color="#8e5ea2"/>
                        </b-col>
                        <b-col sm="*" lg="9" xl="6">
                            <span>Usuarios activos</span>
                            <span><h5><b v-text="usersActive"/></h5></span>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col sm="12" md="4" class="pt-3">
                <b-card>
                    <b-row no-gutters class="text-center">
                        <b-col sm="*" lg="3" xl="6" class="text-lg-left">
                            <font-awesome-icon icon="user-check" size="3x" color="#3cba9f"/>
                        </b-col>
                        <b-col sm="*" lg="9" xl="6">
                            <span>Usuarios online</span>
                            <span><h5><b v-text="usersOnline"/></h5></span>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col sm="12" md="4" class="pt-3">
                <b-card>
                    <b-row no-gutters class="text-center">
                        <b-col sm="*" lg="3" xl="6" class="text-lg-left">
                             <font-awesome-icon icon="users" size="3x" color="#e8c3b9"/>
                        </b-col>
                        <b-col sm="*" lg="9" xl="6">
                            <span>Usuarios totales</span>
                            <span><h5><b v-text="usersTotal"/></h5></span>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
        </b-row>

        <b-row class="pt-3 pt-lg-5" id="chart">
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart1'" :chartType="'radar'" :chartTitle="'Distribution in % of world population'"/>
                </b-card>
            </b-col>
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart2'" :chartType="'pie'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                </b-card>
            </b-col>
        
           <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart3'" :chartType="'bar'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                </b-card>
            </b-col>
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart4'" :chartType="'line'" :chartTitle="'World population per region (in millions)'"/>
                </b-card>
            </b-col>
        
           <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart5'" :chartType="'polarArea'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                </b-card>
            </b-col>
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart6'" :chartType="'doughnut'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                </b-card>
            </b-col>
        
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart7'" :chartType="'horizontalBar'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                    
                </b-card>
            </b-col>
            <b-col sm="12" lg="6" class="pt-3 pt-lg-5">
                <b-card>
                    <Chart :chartId="'chart8'" :chartType="'bubble'" :chartTitle="'Predicted world population (millions) in 2050'"/>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import Chart from '../../components/admin/Chart.vue';
import Radar from '../../components/admin/RadarChart.vue'; 

export default {
    components: {
        Chart, 
        Radar
    },
    data:() =>({
        

    }),
    computed:{
        usersActive(){
            return this.$store.getters.getUsersActive;
        },
        usersOnline(){
            return this.$store.getters.getUsersOnline;
        },
        usersTotal(){
             return this.$store.getters.getUsersTotal;
        }
    },
    mounted(){
        this.$store.dispatch( 'loadUsersStats' );
    }
    
}

</script>

<style scoped>
.card-body{
    box-shadow: 0px 0px 7px 4px #5f58584a;
}
  
</style>