<template>
    <b-container fluid>
        <b-row class="users-header">
            <b-col>
                <h3>Users</h3>
            </b-col>
            
        </b-row>
        <b-row class="pt-2">
            <b-col>
                <list-filters :loader="loader"></list-filters>
            </b-col>
        </b-row>  
        
        <Paginate :pagination="pagination" @pagina="getItems" class="py-2"></Paginate>
        
        <b-row>
            <b-col sm="12" md="6" lg="4" xl="3" class="pb-2" v-for="(user,key) in users" :key="key">
                <UserCard :key="user.id" :user="user"></UserCard>
            </b-col>
        </b-row>
    </b-container>
    
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    import UserCard from '../../components/global/UserCard.vue';   
    import ListFilters from '../../components/global/ListFilters.vue';
    import Paginate from '../../components/global/Paginate.vue';

export default {
    components:{
        UserCard,
        ListFilters,
        Paginate,
    },
    data: () => ({
       
    }),
    created(){
        this.$store.dispatch( 'loadUsers' );
    },
    computed:{
        pagination(){
            return this.$store.getters.getUsersPaginate;
        },

        users(){
            return this.$store.getters.getUsers;
        },
        usersLoadStatus(){
            return this.$store.getters.getUsersLoadStatus;
        },
        userToggleStatus(){
            return this.$store.getters.getUserToggleStatus;
        },
        loader(){
            return this.usersLoadStatus == 2 && this.userToggleStatus == 0 ? false : true;
        }
    },

    watch: {
        
    },

    methods:{
        getItems(page){
            this.$store.commit('setPage', page);
            this.$store.dispatch('loadUsers');
        },
    }

}

</script>

<style lang="scss">
  @import '~@/abstracts/_variables.scss';

  .users-header{
    font-family: "Lato", sans-serif;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 10px;
  }
</style>