@import '~@/abstracts/_variables.scss';

.page-wrapper{
  margin-top: 25px;
  min-height: calc(100vh - 152px);
  text-align: justify;
}

.wrapper {
  //display: flex;
  align-items: stretch;
  min-height: calc(100vh);
  position: absolute;
  right: 0px;
}

.container-fluid {
  -webkit-transition: width .28s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: width .28s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.form-control-plaintext{
  border: 1px solid #ced4da;
}

.nopadding {
  padding: 0
}


h1,h2,h3,h4,h5 {
  font-family: "Sura", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.btn-outline-info:hover{
  color: white;
}

hr{
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

hr.short{
  width: 75%;
}

.fc-day-header span{
  text-transform: capitalize !important;
}


.sheet{
  background: white;
  border: 1px solid black;
  width: 99.4%;
  height: 99.5%;
}