<template>
  <b-breadcrumb :items="items"></b-breadcrumb>
</template>

<script>
    import routes from '../../routes.js'
    export default {
        data:() => ({
            items: []
            }),
        mounted(){
            let largo = routes.options.routes.length;
            let rutas = routes.options.routes[1].children;
            let BreadCrumb = rutas.map(ruta => {
                return  {
                    text: ruta.meta.breadCrumb.name,
                    href: ruta.meta.breadCrumb.link
                }
            })
            this.items = BreadCrumb;
        }
    }
  
</script>