<template>
    <b-img-lazy :src="imagen" v-bind="mainProps"/>
</template>
<script>
export default {
    props:['imagen'],
    data: () => ({

    }),
    computed:{
        mainProps(){
            const posiciones = ['center','left','right'];
            const rounded = [true, false ,'top', 'right', 'bottom', 'left', 'circle', '0'];
            let props = {
                offset: 400,
                fluid: true,
                fluidGrow: false,//para llenar el ancho de su contenedor
                blank: true, //establecer si lleva color de fondo
                //blankColor: '#f66d9b', //en caso de tener color de fondo
                //blankSrc: ,//String
                //blankColor: , //String
                //blankWidth: , //Number or String
                //blankHeight: , //Number or String
                show: false,
                width: 200,
                //height: 200,
                class: 'm-4',
                block: false,
                thumbnail: true,
                rounded: 'circle',/*true (o accesorio presente sin valor): redondea todas las esquinas
                                    false (o accesorio no presente): sin redondeos explícitos o esquinas (predeterminado)
                                    'top': alrededor de las esquinas superiores
                                    'right': alrededor de las esquinas derechas
                                    'bottom': alrededor de las esquinas inferiores
                                    'left': alrededor de las esquinas izquierdas
                                    'circle': haga un círculo (si es una imagen cuadrada) o un borde ovalado (si no es cuadrado)
                                    '0': desactiva explícitamente el redondeo de esquinas
                                    */
                };
            
            let float = posiciones[Math.floor(Math.random() * (3 - 0)) + 0];
            float == 'center' ? props.block = true : '';
            props[float] = true;
            
            props.rounded = (rounded[Math.floor(Math.random() * (8 - 0)) + 0]);
            props.width = Math.floor(Math.random() * (400 - 200 + 1 )) + 200;
            props.height = Math.floor(Math.random() * (400 - 200 + 1 )) + 200;
            return props;
        }
            
    },
}
</script>