<template>
    
    <router-link :to="{name: item.route }" :title="item.name" v-if="!item.submenu"><font-awesome-icon :icon="item.icon" v-if="item.icon" /><span>{{ item.name }}</span></router-link>

</template>

<script>
export default {
    props: {
      item: {
        type: Object,
        required: true
      },
    },
    computed:{
        user(){
            return this.$store.getters.getUser;
        },

        permission(){
            return !this.$store.getters.getUser.permission ? true : false;
        },
    }
}

</script>