<template>
    <div class="dropdown">
        <a :href="`#${item.name}-submenu`" data-toggle="collapse" aria-expanded="false" :title="item.name">
            <font-awesome-icon v-if="item.icon" :icon="item.icon" /><span>{{ item.name }}</span>
        </a>
        <div class="collapse" :id="`${item.name}-submenu`" v-for="(sub, key) in item.submenu" :key="key">
            {{sub}}
            <router-link :to="{name: sub.route }" :title="sub.name"><font-awesome-icon v-if="sub.icon" :icon="sub.icon" /><span>{{ sub.name }}</span></router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      item: {
        type: Object,
        required: true
      },
    },
    mounted(){
        console.log(this.item)
    }
}

</script>