<template>
  <transition name="slide-in-top">
    
    <b-form @submit.stop.prevent>
      <b-row>
        <b-col>     
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="outline-info" @click="toggleOrderDirection()">
                  <font-awesome-icon :icon="iconOrder"/>
              </b-button>
            </b-input-group-prepend>

            <b-form-input class="search" type="text" v-model="textSearch" placeholder="Buscar por nombre del usuario" @keyup="searchUsers" style="border-right: 0px;"></b-form-input>
            
            <b-input-group-append>
              <span class="input-group-text" v-show="loader" style="background-color:#fff!important; border-left: 0px;">
                <Loader :width="20" :height="20"/>
              </span>
              <span class="input-group-text barra-range"> 
                <b-form-input type="range" min="1" :max="totalUsers.total" v-model="perPage"></b-form-input>
              </span>
              
              <router-link tag="div" :to="{ name: 'pageData', params: { id: 'nuevo-usuario', nuevo: false } }">
                <b-btn title="Alta nueva">
                  <font-awesome-icon icon="plus"/>
                </b-btn>
              </router-link>
             
            </b-input-group-append>
            <!--b-input-group-append>
                <span class="input-group-text">
                  <b-form-input type="number" v-model="perPage" min="1" :max="totalUsers.total"></b-form-input>
                </span>
            </b-input-group-append-->
             
          </b-input-group>

          <b-input-group class="d-block d-md-none">
              <span class="input-group-text" v-show="loader" style="background-color:#fff!important; border-left: 0px;">
                <Loader :width="20" :height="20"/>
              </span>
              <span class="input-group-text"> 
                <b-form-input type="range" min="1" :max="totalUsers.total" v-model="perPage"></b-form-input>
              </span>
          </b-input-group>

         <div class="users-input-container">
            <div class="user-autocomplete" v-show="showAutocomplete">
              <div class="user-search-result" v-for="(user, key) in userSearchResults" :key="key" :class="{ 'selected-search-index' : searchSelectedIndex == key }" @click="selectUser( user.name )">{{ user.name }}</div>
            </div>
          </div>   
        </b-col>
        
      </b-row> 
    </b-form>

  </transition>
</template>

<script>
  import { EventBus } from '../../event-bus.js';
  import { WEB_CONFIG } from '../../config.js';
  import variables from "../../../sass/abstracts/_variables.scss";
  
  export default {
    props: ['loader'],
    data: () =>({
      searchSelectedIndex: -1,
      showAutocomplete: false,
      numbers: [5,10,15,20,25,100,250,500],
      
    }),
    mounted(){
      
    },

    watch: {
      perPage(){
        this.searchData();
      },
      textSearch(){
        this.searchData();
      }
    },

    computed: {
      userSearchResults(){
        return this.$store.getters.getUsersSearchResults;
      },

      showFilters(){
        return this.$store.getters.getShowFilters;
      },

      user(){
        return this.$store.getters.getUser;
      },

      userLoadStatus(){
        return this.$store.getters.getUserLoadStatus();
      },

      totalUsers(){
        return this.$store.getters.getUsersPaginate;
      },

      textSearch: {
        set( textSearch ) {
          this.$store.commit( 'setTextSearch', textSearch )
        },
        get() {
          return this.$store.getters.getTextSearch;
        }
      },

      perPage: {
        set( perPage ) {
          this.$store.commit('setPage', 1)
          this.$store.commit( 'setPerPage', perPage )
        },
        get() {
          return this.$store.getters.getPerPage;
        }
      },

      orderBy(){
        return this.$store.getters.getOrderBy;
      },

      orderDirection(){
        return this.$store.getters.getOrderDirection;
      },

      iconOrder(){
        return this.orderDirection === 'ASC' ? 'sort-alpha-down' : 'sort-alpha-up';
      },
    },

    methods: {
      searchData(){
        this.$store.dispatch('loadUsers');
      },

      toggleShowFilters(){
        this.$store.dispatch( 'toggleShowFilters', { showFilters : !this.showFilters } );
      },

      clearFilters(){
          this.$store.dispatch( 'resetFilters' );
      },

      toggleOrderDirection(){
        this.$store.dispatch( 'updateOrderDirection',  this.orderDirection == 'ASC' ? 'DESC' : 'ASC');
      },

      searchUsers(){
        if( this.textSearch.length > 2 ){ //tiene más de dos caracteres de longitud
         
          this.searchSelectedIndex = -1;
          this.showAutocomplete = true;
          this.$store.dispatch('autocompleteUsers');
          
        }else{
          this.showAutocomplete = false;
          
        }
      },

      selectUser(name){
        this.$store.commit('setTextSearch', name);
        this.showAutocomplete = false;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@/abstracts/_variables.scss';

  input[type="text"].search{
    background-image: url('/img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 6px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .input-group-text {
    background-color: $primary-color !important;

   
  }
  .barra-range{
    width: 130px;
  }
  .users-input-container{
    position: relative;

   .user-autocomplete{
      position: absolute;
      background-color: white;
      width: 100%;
      padding: 5px 0;
      z-index: 99999;
      border: 1px solid rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);

      div.user-search-result{
        padding: 5px 10px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $dark-color;
        font-size: 14px;
        background-color: white;

        &:hover{
          background-color: $highlight-color;
        }
        &.selected-search-index{
          background-color: $highlight-color;
        }
      }
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: $secondary-color!important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    background: $secondary-color!important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    background: $secondary-color!important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* Small only */
  @media screen and (max-width: 39.9375em) {
      .barra-range{
        width: 0;
        padding: 0;
      }
      input{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  }

  /* Medium only */
  @media screen and (max-width: 767px) {
   .barra-range{
        width: 0;
        padding: 0;
      }
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    
  }

  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {

  }

</style>
