<template>
 
    <b-card :img-src="noticia.imagen" img-top style="max-width: 400px;" class="mb-5">
        <b-card-title>
            <h3 class="text-center">{{noticia.titulo}}</h3>
        </b-card-title>
        <b-card-sub-title>
            <h5 class="text-right text-capitalize">{{noticia.autor}}</h5>
        </b-card-sub-title> 
        <b-card-text class="contenido" v-html="noticia.contenido">
            
        </b-card-text>

        <div class="d-flex justify-content-end">
            <router-link :to="{ name: 'pageNoticia', params: { id: noticia.id } }" class="text-decoration-none">
                <b-btn variant="outline-info">Leer más</b-btn>
            </router-link>
        </div>
            
       
            
        <b-card-text class="pt-3" v-if="noticia.origen">
            <blockquote><em class="pl-sm-3 pl-md-5">{{ noticia.origen }}</em></blockquote>
        </b-card-text>

            
    </b-card>
</template>

<script>
  import { EventBus } from '../../event-bus.js';
  import config  from '../../mixins/config.vue'

export default{
    mixins:[config],
    props: ['noticia'],
    
    data:()=>({
      
    }),

    computed:{
           
      
      
    },

    methods:{
      
    }

  }
</script>

<style lang="scss" scoped>
@import '~@/abstracts/_variables.scss';

.card{
    box-shadow: 6px 6px 10px 3px #5f58584a;
    
}

.contenido{
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;      
}

blockquote{
    border-left: 5px solid $info;
}

@media (max-width: 500px) {
    blockquote{
        font-size: .75rem;

        em{
            padding-left: 15px;
        }
    }
}
</style>