<template>
    <b-form-group>
        <b-input-group>
            <b-input-group-text slot="prepend">
                <font-awesome-icon class="m-auto" icon="phone-alt"/>
            </b-input-group-text>
            
            <b-input v-if="editar" type="number" placeholder="Teléfono" v-model="phone.phone" :state="phone.state" @input="validate" @change="validar(phone)"/>
            <span v-else class="form-control form-control-plaintext" v-text='phone.phone'/>
            
            <b-input-group-append v-if="editar">
                <b-btn @click="$emit('add')" v-if="idx == 0">
                    <font-awesome-icon icon="plus"/>
                </b-btn>
                <b-btn @click="$emit('del',idx)" v-else>
                    <font-awesome-icon icon="minus"/>
                </b-btn>
                
            </b-input-group-append>
            
            <b-form-invalid-feedback v-if="editar" :id="`phone-${idx}-feedback`">
                {{ errorPhone }}
            </b-form-invalid-feedback>
        </b-input-group>
    </b-form-group>

</template>
<script>

import config  from '../../mixins/config.vue';
import validators  from '../../mixins/validators.vue';

export default{
    mixins:[config,validators],
    props:['item', 'editar', 'idx'],
    computed:{
        phone:{
            set(phone){
                this.item = phone;
            }, 
            get(){
                return this.item;
            }
        },

        errorPhone(){
            let message = '';
            if(this.messages[`phones.${this.idx}.phone`]){
                this.phone.state = false;
                return this.messages[`phones.${this.idx}.phone`][0];
                
            }
            let largo = this.phone.phone.length
            switch(true){
                case largo < 9 :
                    message = "Número demasiado corto";
                    break;
                case largo > 9:
                    message = "Número demasiado largo";
                    break;
                default:
                    message = "Revisa el número de teléfono";
                    break;
            }
                          
            return message;
                
           
        }
    },
    methods: {
        validate(item){
            if(this.messages[`phones.${this.idx}.phone`]){
                this.phone.state = true;
                delete this.messages[`phones.${this.idx}.phone`];
            }
        },
        
        validar(item){
            this.item.state = this.validarPhone(item.phone, this.idx);
            
        }
    },
}

</script>