<template>
  <b-card img-src="../img/avatar.png" img-top style="max-width: 300px;">
    <b-card-title>
        <h4 class="text-center">{{user.name}}</h4>
    </b-card-title> 
    <b-card-text>
        <ul class="list-group">
            <li class="list-group-item"><font-awesome-icon icon="envelope" class="d-none d-sm-inline"/><span class="pl-sm-0 pl-md-1"> {{ user.email }} </span></li>
            <li class="list-group-item"><font-awesome-icon icon="user-tag" class="d-none d-sm-inline"/><span class="pl-sm-0 pl-md-1"> {{ rol }} </span></li>
        </ul>
    </b-card-text>
    <div class="d-flex justify-content-between align-items-center">
      <router-link :to="{ name: 'pageData', params: { id: user.id, nuevo: false } }" class="text-decoration-none">
        <b-btn variant="outline-info">Más Info</b-btn>
      </router-link>
      
      <b-btn :variant="colorBoton" @click="toggleActive(user.id)" :id="`button-${user.id}`" :disabled="disabled"><font-awesome-icon :icon="icono" /></b-btn>
      <b-tooltip :target="`button-${user.id}`" :title="title"></b-tooltip>
    </div>
  </b-card>
</template>

<script>
  import { EventBus } from '../../event-bus.js';
  import config  from '../../mixins/config.vue'

export default{
    mixins:[config],
    props: ['user'],
    
    data:()=>({
      
    }),

    computed:{
      rol(){
        return this.roles[this.user.permission].text;
      },
      icono(){
        return this.user.active == 0 ? 'eye' : 'eye-slash';
      },
      colorBoton(){
        return this.user.active == 1 ? 'outline-danger' : 'outline-success';
      },
      title(){
        return this.disabled == true ? 'Desactivado' : this.icono == "eye" ? 'Activar' : 'Desactivar';
      }
    },

    methods:{
      toggleActive( id ){
        this.$store.dispatch( 'toggleActive', {
            id: id
        });
      },
    }

  }
</script>

<style scoped>
.card{
    box-shadow: 6px 6px 10px 3px #5f58584a;
}
</style>