<template>
  <div id="app-layout" v-if="authenticated && adminUser">
    <sidebar></sidebar>

    <b-container fluid class="wrapper" :style="{ width: appWidth + 'px'}">

      <navigation></navigation>

      <router-view></router-view>

    </b-container>
    
    <Top/>

  </div>

  <router-link to="/login" v-else>Login</router-link>
</template>

<script>
  import { EventBus } from '../event-bus.js';
 

  import Navigation from '../components/admin/Navigation.vue';
  import Top from '../components/global/BackToTop.vue';
  //import Bread from '../components/global/Breadcrump.vue';
  //import LoginModal from '../components/global/LoginModal.vue';
  //import Filters from '../components/global/Filters.vue';
  import Sidebar from '../components/admin/Sidebar.vue';
  //import SuccessNotification from '../components/global/SuccessNotification.vue';
  //import ErrorNotification from '../components/global/ErrorNotification.vue';

  //import { actions } from '../modules/admin/actions.js'
  import { users } from '../modules/admin/users.js';
  import { stats } from '../modules/admin/stats.js';
  import { filters } from '../modules/filters.js';
  import isMobile from '../utils/isMobile.js';
  
  export default {
    components: {
      Navigation,
      //LoginModal,
      //Filters,
      Sidebar,
      Top,
      //Bread,
      //SuccessNotification,
      //ErrorNotification
    },
    data:()=>({
      authenticated: auth.check(),
    }),

    beforeCreate(){
      
    },
    created(){
      this.$nextTick( () => {
        window.addEventListener('resize', this.getWindowWidth);
      })
        
        if( !this.$store._modules.get(['admin'] ) ){
            this.$store.registerModule( 'admin', {} );
        }

        /*
            Comprueba si el usuario tiene permisos y si el módulo de 'users' de Vuex está cargado.
        */
        if( !this.$store._modules.get(['admin', 'users'] ) ){
            this.$store.registerModule( ['admin', 'users'], users );
        }

        if( !this.$store._modules.get(['admin', 'stats'] ) ){
            this.$store.registerModule( ['admin', 'stats'], stats );
        }

        if( !this.$store._modules.get(['admin', 'filters'] ) ){
            this.$store.registerModule( ['admin', 'filters'], filters );
        }

        
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.getWindowWidth);
    },
    mounted() {
      this.getWindowWidth();
      this.$store.dispatch( 'toggleShowSidebar', { showSidebar : true } );
    },

    computed: {
      showSidebar(){
          return this.$store.getters.getShowSidebar;
      },

      adminUser(){
        return this.$store.getters.getUser;
      },

      app(){
        return document.getElementById('app');
      },
    
      appWidth(){
        return this.$store.getters.getAppWidth;
      }

    },

    watch: {
      adminUser(){

        
      }
    },

    methods: {
      getWindowWidth(event) {
        this.$store.dispatch( 'appWidth', this.app.clientWidth);
      },

      toggleShowSidebar(){
        this.$store.dispatch( 'appWidth', this.app.clientWidth);
        this.$store.dispatch( 'toggleShowSidebar', { showSidebar : !this.showSidebar } );
      },
    }
  }
</script>
