<template>
  
    <b-container fluid>
        <bootstrap-carousel class="d-none d-sm-none d-md-block"/>
        <navigation></navigation>
        
            <router-view></router-view>

        <top/>
        <Footer/>
    </b-container>
    
</template>

<script>
    import Top from '../components/global/BackToTop.vue';
    import Navigation from '../components/web/Navigation.vue';
    import BootstrapCarousel from '../components/web/BootstrapCarousel.vue'
    import Footer from '../components/web/Footer.vue';

    export default {
        components: {
            Navigation,
            BootstrapCarousel,
            Footer,
            Top,
        },

        data:()=>({
        
        }),

        beforeCreate(){
                
        },
        created(){
        
        },
        beforeDestroy() {
        
        },
        mounted() {
        
        },

        computed: {
            user(){
                return this.$store.getters.getUser;
            },
        },

        watch: {
        
        },

        methods: {
        
        }
    }
</script>
